/*
  CSS - Tools
*/

footer, section.region-top-header {
  display:none!important;
}

.screen-vh {
  height: calc(100vh - 95px);
  top: 95px;
}

.screen-vh-admin {
  height: calc(100vh - 143px);
  top: 143px;
}

div#iframe_wrapper {
  position: fixed;
  /* height: 100%; */
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
}
#tool_iframe {
  position: relative;
  border:0;
  height:100%;
  z-index:100;
  width: 100%;
}