.bubble_container {
  display: none;
  padding: unset !important;
}

.bubble_container .dropdown-content.select-dropdown {
  margin-top: 0px !important;
}

.performance_index_container li {
  font-size: 0.8rem;
  color: #080505;
  padding-top: 5px;
  padding-bottom: 5px;
}

.performance_index_container .collapsible {
  max-height: 300px;
  overflow: scroll;
}

.performance_index_container .collapsible-body {
  background: black;
  color: white
}

.performance_index_container .collapsible-header {
  max-height: 35px;
}

.performance_index_container_row {
  margin-bottom: 5px;
  margin-left: 5px !important;
  margin-right: 0px !important;
}

.performance_index_container_row .col.s3 {
  color: #ff9800;
}

.bubble_container svg.circle_legend_container {
  height: auto;
  width: 200px;
  border: 1px solid green;
}

.circle_legend_container line,
.circle_legend_container text,
.circle_legend_container path,
.circle_legend_container circle {
  fill: black;
  stroke: blue;
}

#bubble_selects_div .dropdown-content.select-dropdown {
  box-shadow: unset;
  -webkit-box-shadow: unset;
  position: relative !important;
}

#bubble_selects_div .dropdown-content.select-dropdown {
  opacity: 1 !important;
  display: inline-block !important;
  max-height: 300px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  /* border-radius: 5px; */
  width: 100%;
}

#bubble_selects_div .dropdown-content.select-dropdown li {
  min-height: 25px !important;
  max-height: 25px !important;
  background: unset;
}

.bubble_container [type="checkbox"]+span:not(.lever) {
  font-size: 0.8rem !important;
  padding-left: 20px;
  color: #6D6D6D;
}

#bubble_selects_div [type="checkbox"]+span:not(.lever) {
  font-size: 0.8rem !important;
  padding-left: 20px;
  color: #6D6D6D;
}

#bubble_selects_div .btn-small {
  height: 25.4px;
  line-height: 25.4px;
  font-size: 11px;
  margin-left: 10px;
  margin-top: 30px;
}

.bubbles {
  stroke-width: 0.1px;
  stroke: white;
}

.bubbles:hover {
  stroke: red;
}

.bubble_container .main_index_class_legend {
  font-size: 0.7em;
}

.main_index_class_legend:hover {
  cursor: pointer;
  /* font-size: 10px; */
}

.bubbles_tooltip {
  position: absolute;
}

.legend_radius_circle_title {
  width: 100px;
  height: 20px;
  background-color: red;
}

.bubble_container .upper_tooltip {
  height: auto;
  /* border: 1px solid blue; */
}

.bubble_container .upper_tooltip .row {
  margin-bottom: 3px !important;
}

#bubble_color_legend {
  height: 25px;
  width: 815px;
  /* border: 1px solid blue; */
}

/* div containing svg */

#bubble_chart {
  /* fs */
  height: 500px;
  background: black;
  padding-right: 0px !important;
  padding-left: 0px !important;
  /* border: 1px solid chocolate; */
}

.col.fixed_bubble_popup_container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.bubble_container .chart_info_container {
  border: 1px solid #ff9800;
}

.chart_info_container>.col {
  display: inline-block;
}

.tooltip_container {
  font-size: 1rem;
  background-color: black;
  opacity: .8;
  color: white;
}

.tooltip_container .data .col {
  border-top: 0.3px solid #c7baba;
  font-size: 0.8rem !important;
  color: #ff9800 !important;
}

.dropdown-content li>a,
.dropdown-content li>span {
  padding-top: unset;
  padding-bottom: unset;
  line-height: 25px;
}

.bubble_container .axisBottom line,
.bubble_container .axisBottom path,

/* .bubble_container .axisBottom text, */

.bubble_container .axisLeft line,
.bubble_container .axisLeft path {
  stroke: white;
}

.bubble_container .selected {
  background: #cc4d043b;
}

/* [type="checkbox"]:checked+span:not(.lever):before {
top: 0px;
left: 0px;
width: 5px;
height: 13px;
}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
width: 14px!important;
height: 14px!important;
z-index: 0;
border: 1px solid #5a5a5a;
border-radius: 0px;
margin-top: 4px;
} */

.bubble_container .select_title {
  color: #343434ed;
  font-size: 0.8rem;
  padding: 2px;
  border: 1px solid #E8E8E8;
  font-weight: 350;
  background-color: grey;
}

.bubble_container .select-wrapper input.select-dropdown {
  border: unset !important;
  display: none;
}

/* new bubble */

.chart_title div {
  font-size: 150%;
  color: grey;
  display: inline-block;
}

.chart_title span {
  font-size: 1rem;
  margin: 5px;
}

.bubble_color_legend li {
  font-size: 0.8rem;
  color: #080505;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bubble_color_legend .collapsible {
  max-height: 300px;
  overflow: scroll;
}

.bubble_color_legend .collapsible-body {
  background: black;
  color: white
}

.bubble_color_legend .collapsible-header {
  max-height: 35px;
}

.bubble_popup_row {
  margin-bottom: 5px;
  margin-left: 5px !important;
  margin-right: 0px !important;
}

.bubble_popup_row .col.s3 {
  color: #ff9800;
}

svg.circle_legend_container {
  height: auto;
  width: 200px;
  border: 1px solid green;
}

.circle_legend_container line,
.circle_legend_container text,
.circle_legend_container path,
.circle_legend_container circle {
  fill: black;
  stroke: rgb(219, 219, 230);
}

#bubble_selects_div {
  font-size: 10px !important;
  margin-left: 4% !important;
  padding-top: 30px;
  padding-bottom: 15px;
}

#bubble_selects_div .dropdown-content.select-dropdown {
  box-shadow: unset;
  -webkit-box-shadow: unset;
  position: relative !important;
  width: 100% !important;
}

#bubble_selects_div .dropdown-content.select-dropdown {
  opacity: 1 !important;
  display: inline-block !important;
  max-height: 300px;
  background: #090909 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  /* border: 1px solid #E8E8E8; */
  /* border-radius: 5px; */
  width: 100%;
}

#bubble_selects_div .dropdown-content.select-dropdown li {
  min-height: 22px !important;
  max-height: 22px !important;
}

/* labels after input! */

#bubble_selects_div [type="checkbox"]+span:not(.lever) {
  font-size: 0.8rem !important;
  padding-left: 20px;
  color: #cfcfcf;
  font-weight: normal;
  padding-left: 30px;
}

.all_container {
  margin: 100px;
}

#bubble_selects_div .btn-small {
  height: 25.4px;
  line-height: 25.4px;
  font-size: 11px;
  margin-left: 10px;
  margin-top: 30px;
}

.bubbles {
  stroke: white;
}

.bubbles:hover {
  stroke: red;
}

.main_index_class_legend {
  font-size: 0.7em;
}

.main_index_class_legend:hover {
  cursor: pointer;
  /* font-size: 10px; */
}

.bubbles_tooltip {
  position: absolute;
}

.legend_radius_circle_title {
  width: 100px;
  height: 20px;
  background-color: red;
}

.upper_tooltip {
  height: auto;
  /* border: 1px solid blue; */
}

#bubble_color_legend {
  height: 75px;
  width: 815px;
  display: inline-block;
  /* border: 1px solid blue; */
}

/* div containing svg */

#bubble_chart {
  height: 500px;
  background: black;
  /* border: 1px solid chocolate; */
}

.bubble_container>.col {
  display: inline-block;
}

.tooltip_container .row {
  border-bottom: 1px solid grey;
  padding-top: 7px;
  padding-bottom: 7px;
}

.tooltip_container {
  background-color: black;
  opacity: .8;
  color: white;
}

.tooltip_container .countries {
  font-size: 1.3rem;
  color: gold;
  text-align: center;
}

.tooltip_container .col {
  text-align: center;
  margin: 0;
  /* position: absolute; */
  /* top: 50%;
    -ms-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
}

.tooltip_container .col.t_title:hover {
  cursor: pointer;
  color: blue;
  background-color: white;
}

.tooltip_container .col.t_title {
  text-align: left;
  margin: 0;
  /* position: absolute; */
  /* top: unset;
    -ms-transform: unset;
    transform: unset; */
  color: #ffc107;
  /* transform: translateY(-15%); */
  font-size: 1rem;
  /* white-space: nowrap; */
  /* width: 50px; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip_container .row.countries .col {
  transform: unset;
}

.tooltip_container .data .col {
  border-top: 0.3px solid #c7baba;
  font-size: 1.1em !important;
  color: #ff9800;
}

.main_g line,
.main_g text {
  fill: white;
}

.dropdown-content li>a,
.dropdown-content li>span {
  font-size: 0.8rem !important;
  padding-top: unset;
  padding-bottom: unset;
  line-height: 35px;
}

/* .axisBottom line,
.axisBottom path,
.axisBottom text,
.axisLeft line,
.axisLeft path,
.axisLeft text {
    stroke: rgb(221, 214, 214);
    font-size: 9px;
} */

.axisLeft text,
.axisBottom text {
  font-size: 0.7rem;
}

text.x_scale_title,
text.y_scale_title {
  /* font-size: 1.1rem; */
  font-size: 13px;
  fill: #ff9800;
}

.select_title {
  color: #343434ed;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #E8E8E8;
  font-weight: 350;
  background-color: #FFFFFF;
}

.select-wrapper input.select-dropdown {
  border: unset !important;
  display: none;
}

.circle_legend .title {
  font-size: 0.7rem;
}

.fixed_bubble_popup {
  overflow-x: hidden;
  overflow-y: auto;
}

.fixed_bubble_popup .col.s3 {
  padding: unset !important;
}

.bubble_container>div.col.s3 {
  padding: unset;
}

.circle_span {
  transform: translateY(20%);
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid white;
  opacity: .6;
}

.chart_title {
  margin-bottom: 10px;
}

.circle_title {
  font-size: 0.8rem;
  margin-left: 10px;
  margin-right: 10px;
  height: 15px;
  transform: translateY(-50%);
}

.x_scale_title,
.y_scale_title {
  fill: #ff9800;
  text-transform: uppercase;
}

#bubble_selects_div>ul {
  display: inline-block;
  margin: 1px;
}

#bubble_selects_div .collapsible {
  padding: 0px !important;
  border: 1px solid #504c4c;
  margin-left: 10px;
  text-transform: uppercase;
}

#bubble_selects_div .collapsible-header {
  font-size: 0.9rem;
  color: #ffc107;
  padding: 0.5rem;
  background: #090909;
}

#bubble_selects_div .collapsible-header span {
  color: #ff9800;
  width: 80%;
  border-left: 2px solid grey;
  margin-left: 7px;
  padding-left: 10px;
}

#bubble_selects_div .collapsible-body {
  padding: unset;
  max-height: 140px;
  overflow: auto;
  margin-left: 50px;
}

#bubble_selects_div .dropdown-content.select-dropdown ul {
  background: #040404;
}

#bubble_selects_div .select-wrapper span {
  color: #ff9800 !important;
}

#bubble_selects_div .dropdown-content.select-dropdown li.selected span {
  color: #ffc107 !important;
}

.collapsible.x_axis_c {
  margin-right: 15px;
}

.more_info_container {
  display: none;
}

.color_row .col.s4:after {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}

.show_more {
  padding: 1px;
  cursor: pointer;
  background: #3c92c3;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chart_options {
  text-align: left;
}

.bubble_lables_div span {
  margin-left: 15px;
}

.bubble_opacity {
  font-size: 0.8rem;
  margin-top: 3px;
}

.bubble_opacity>span {
  display: inline-block;
}

.nice-number {
  display: inline-flex;
  justify-content: stretch;
}

.nice-number input {
  vertical-align: middle;
  appearance: textfield;
  -moz-appearance: textfield;
  box-sizing: content-box;
  margin: 0;
  text-align: center;
}

.nice-number input::-webkit-inner-spin-button,
.nice-number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nice-number {
  height: 22px;
  /* background: rgb(236, 205, 102); */
  color: white !important;
}

.nice-number button {
  height: 22px;
  background: #ffc107;
  color: white;
}

.nice-number input {
  height: 22px !important;
  width: 40px;
  margin: unset !important;
}

.chart_options .bubble_opacity {
  position: relative;
  /* bottom: 14px; */
}

.chart_options .bubble_opacity input {
  color: white;
}

.bubble_download:hover {
  cursor: pointer;
}

.filtered_label {
  fill: #ff9800 !important;
}

.chart_options .title {
  margin: 5px 20px 10px 5px;
  padding: 5px;
  background: darkred;
  font-size: larger;
  cursor: pointer;
}

.chart_options .collapsibles_div,
.chart_options .inputs_div {
  margin-bottom: unset;
}

.chart_options .title i {
  font-size: 1.2vw !important;
  transform: translateY(20%);
}

.all_options_div {
  border: 1px solid #413e3e;
  padding-top: 13px;
  display: none;
}

.circle_color_legend .title,
.circle_legend .title {
  color: #ff9800;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.circle_color_legend .title:after,
.circle_legend .title:after {
  content: '';
  height: 1px;
  margin-top: 3px;
  background: #282626;
  display: block;
  margin-left: 11%;
  margin-right: 11%;
  margin-bottom: 8px;
}

.tooltip_title {
  color: gold;
  font-size: 1.3rem;
}

.btn_bubble {
  margin-bottom: 10px;
}

text.labeler {
  fill: #f5f5f5;
  /*font-weight: bold;*/
}

.indicator_title {
  /*font-size: 0.8em !important;*/
  text-transform: uppercase;
}