.print_disclamer {
  display: none;
}

.text_color_lakes {
  width: 84px !important;
  float: left;
}

.score_adjust {
  position: relative;
  margin-top: 17px !important;
  /* inline-size: 20px; */
  float: left;
  width: 214px;
  color: white;
}

.gain_loss_adjust {
  margin-top: -2px !important;
}

.pdf_print {
  float: right;
  margin-top: 16px;
  position: relative;
  z-index: 999999999;
}

.csv_export_all {
  float: right;
  margin-top: 16px;
  position: relative;
  z-index: 999999999;
  margin-right: 30px;
}

.card {
  border-radius: 0px;
}

.collapsible-header_country {
  margin: 0px !important;
}

.card-title_country {
  float: left;
}

.collapsible-header_country {
  background-color: #0155bd;
}

.sidenav {
  height: auto !important;
}

.country_li .collapsible-body {
  display: none;
}

.sidenav {
  top: 64px;
  width: 40%;
  /* height: 100%!important; */
  height: auto !important;
  /* background-color: #7bd5ef; */
}

@media only screen and (max-width: 601px) {
  .card .card-title {
    font-size: 15x;
    font-weight: 300;
  }

  .sidenav {
    top: 350px !important;
    width: 100% !important;
    height: 350px !important;
    /* background-color: #7bd5ef; */
  }

  #slide-out>ul>li.country_li.main_li>div.card.horizontal.collapsible-header.collapsible-header_country {
    position: sticky !important;
    top: 0px !important;
  }
}

@media only screen and (max-width: 601px) {
  .sidenav {
    width: 65%;
  }
}

/* ::-webkit-scrollbar {
    width: 4px;
} */

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 4px;
}

/* Handle */

/* ::-webkit-scrollbar-thumb {
    background: #1e73c1;
    ;
    border-radius: 4px;
} */

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.sidenav .card.collapsible-header {
  /* background-color: #041620!important; */
  background-color: #090909 !important;
  margin: 0 0;
  line-height: 0px !important;
  color: #ffffff;
}

.layer_icon_large {
  font-size: 30px !important;
}

.main_li {
  margin-bottom: 2px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #094264;
  -webkit-box-shadow: 0 1px 0 0 #094264;
  box-shadow: 0 1px 0 0 #094264
}

.input-field .prefix.active {
  color: #094264
}

.mapboxgl-map {
  background-color: #041620;
}

.row.summary,
.row.summary .row {
  margin-bottom: 0px !important;
  color: #f6f6f6;
}

.index_type_description {
  bottom: 26px;
  position: relative;
  font-size: 0.9em !important;
  font-style: oblique;
}

.indicators_list {
  color: white;
}

.indicators_list .on {
  background-color: #ffc107 !important;
}

.indicators_list>div:hover {
  cursor: pointer;
  /* border-bottom: 2px solid black; */
}

.indicators_list div:hover {
  cursor: pointer;
  background-color: #8c9fb1;
}

.indicators_list.list .row {
  /* border-bottom: 0.5px solid #061f2d;
    margin-bottom: 10px!important;
    padding-bottom: 10px!important; */
  margin-bottom: 0px !important;
}

.sidenav .subheader {
  background-color: #f5deb300;
  padding: 4px;
  color: #0154bd !important;
  font-size: 15px;
  line-height: 15px;
  text-align: inherit;
  border-bottom: 1px solid #0154bd;
  padding-left: 10px;
}

.nodata_av {
  margin-left: 13px;
}

.legend>div:nth-child(2)>div {
  margin-bottom: 13px;
}

.legend>div:nth-child(2)>div>p>em {
  margin-left: 27px;
}

.show_hide_table {
  margin-left: 18px;
  background-color: #ff9800;
  width: 36px;
  padding: 5px;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.03), 0 3px 4px rgba(0, 0, 0, 0.09);
  margin-top: -16px;
  border-radius: 20px;
}

.mangroves_li {
  background-color: #061b27;
  color: #ffffff;
}

#slide-out>ul>li.country_li.main_li>div.card.horizontal.collapsible-header.collapsible-header_country {
  text-align: center;
  color: #ffffff;
  box-shadow: none !important;
  border-bottom: none !important;
}

.light_mede_button.daylight {
  color: '#ffffff';
}

.light_mede_button.nightlight {
  color: '#00aced';
}

.card-title_country {
  margin-top: 0px;
  margin-bottom: -15px !important;
  line-height: 58px !important;
}

#slide-out>ul>li.country_li.main_li>div.collapsible-body>ul:nth-child(2)>li>div:nth-child(2)>div.col.s8.multiple_lines>p:nth-child(2) {
  position: absolute;
}

.list p {
  margin-top: 10px !important;
}

.show.on {
  color: #1170e5 !important;
  opacity: 1 !important;
}

i.left {
  float: left;
  margin-right: 8px !important;
}

.app-title {
  font-size: 1.7rem;
  color: white;
  display: inline-block;
}

.jrc-logo {
  width: 72px;
  margin: 0 13px 13px;
  display: inline-block;
}

#legend_dropdown li,
#rank_legend_dropdown li {
  line-height: 1.5rem;
}

#legend_dropdown li>a,
#legend_dropdown li>span,
#rank_legend_dropdown li>a,
#rank_legend_dropdown li>span {
  font-size: 16px;
  /* color: #00aced!important; */
  display: block;
  line-height: 22px;
}

#legend_dropdown, #rank_legend_dropdown {
  position: absolute;
  z-index: 9999;
  top: 75px;
  padding: 5px;
}

#rank_legend_dropdown {
  right: 39px;
}

.modal-footer>a {
  color: white;
}

.modal-header {
  max-height: 0px !important;
}

.modal {
  background-color: #090909 !important;
  border: 1px solid grey;
  top: 2% !important;
  max-height: 95% !important;
}

.modal-content {
  background-color: unset !important;
}

#intro_modal {
  z-index: 10060000000 !important;
}

#intro_modal .btn-close, #country_modal .btn-close, #x_axis_modal .btn-close {
  opacity: 1;
}

#intro_modal .modal-dialog, #country_modal .modal-dialog, #x_axis_modal .modal-dialog {
  max-width: 100%;
}

#intro_modal .modal-content, #country_modal .modal-content, #x_axis_modal .modal-content {
  padding: 0 24px 0 24px;
}

#intro_modal .modal-body, #country_modal .modal-body, #x_axis_modal .modal-body {
  padding-left: 0;
  padding-right: 0;
}

.base_tooltip_info {
  background-color: #232323;
  padding: 10px;
  position: fixed;
  border-radius: 2px;
  z-index: 222;
}

#caution_msg {
  line-height: 25px;
  top: 94px;
  max-width: 30vw;
}

#heatmap_tooltip {
  max-width: 47vw;
  font-size: 0.95rem;
}

#tooltip_rank_instructions {
  max-width: 30vw;
  right: 39px;
  font-size: 0.95rem;
}

#caution_msg .close,
#tooltip_rank_instructions .close,
#heatmap_tooltip .close,
#matrix_wrapper .close,
#lollipop_wrapper .close {
  font-size: 1.2rem !important;
  position: absolute;
  right: -7px;
  top: -8px;
  border-radius: 50%;
  cursor: pointer;
}

#caution_msg .close,
#tooltip_rank_instructions .close,
#heatmap_tooltip .close {
  background: #333131;
  border: 1px solid #ff9800;
}

#matrix_wrapper .close,
#lollipop_wrapper .close {
  background: #ff9800;
  border: 1px solid #333131;
}

.modal small {
  color: white;
}

.modal .center>div {
  padding: 15px;
}

.modal .modal-footer {
  background-color: #6795bf !important
}

.modal_li>a {
  padding: 0px !important;
}

#intro_modal a {
  color: gold !important;
}

.text_color_bad_percentage {
  font-size: larger;
  color: #ff9800;
  border-radius: 20px;
  font-weight: 700;
}

#line_color_bad_percentage {
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: -18px;
  padding-top: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgba(255, 181, 0, 0.5) !important;
  border: 1px solid rgba(255, 181, 0, 0.48);
}

#line_color_good_percentage {
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: -18px;
  padding-top: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgba(8, 111, 238, 0.5) !important;
  border: 1px solid #086fee6b;
}

.lake_quality_events {
  background: #0155bd !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  width: 57px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: larger;
  color: white !important;
}

.lake_quality_lakes {
  background: #0155bd !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  width: 57px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: larger;
  color: white !important;
}

#country_profile>table {
  background-color: #061b27;
  margin-left: 0px !important;
  font-size: larger;
  color: #ffffff;
  border-bottom: 6px solid #041620;
}

#separator {
  border-bottom: 7px solid #041620;
  width: 100%;
  height: 20px;
  position: relative;
  display: block;
}