.cat_div {
  color: white;
  margin: 10px;
  text-align: center;
}

th {
  text-align: center !important;
}

td.data_td {
  margin: 0;
  /* vertical-align: top; */
  padding: 2px 5px;
  margin: 2px;
  text-align: center;
}

.dataTable {
  table-layout: fixed;
  color: white
}

.dataTables_wrapper {
  background-color: #1c1a1a;
}

td,
th {
  color: white !important;
}


/* .mdc-data-table__header-cell */

th {
  color: gold !important;
  font-weight: 100;
}

.mdc-layout-grid {
  color: gold;
  font-weight: 100;
}

td,
th {
  padding: 0px !important;
}

.cat_div {
  color: white;
  margin: 10px;
  text-align: center;
}

.cat_div span {
  /* display: block; */
  display: inline-block;
}

.cat_div i {
  margin-left: 0.7rem;
  color: white;
}

.cat_div i:hover {
  cursor: pointer;
}

.val_div_container {
  display: none;
}

.th_icon {
  float: right;
}

.th_icon i {
  cursor: pointer;
}

.div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_asc:after,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_desc:after,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting:after,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_asc:before,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_desc:before,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting:before {
  content: none !important;
  /* display:none; */
}

.expand.active,
.sort.active {
  color: #fff;
}

.val_div_container>span {
  display: block;
}

.val_div_container .val {
  font-size: 1.1rem;
}

.val_div_container .val {
  color: #8af0ef;
}

.val_div_container span:first-child .val {
  color: #2ba59a;
}

td {
  /* border-top-width: 1px;
    border-top-style: solid; */
  border-bottom: 0.5px solid #5d5555;
  text-align: center;
}

div.dataTables_filter,
.dt-buttons {
  display: none !important;
}

.dataTable,
.dataTables_info_btn {
  display: none;
}

.dataTables_wrapper {
  width: 100%;
}

table.dataTable {
  overflow-y: scroll;
  display: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px #f9f9f9;
  border-radius: 4px;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  overflow-y: scroll !important;
}

.dataTables_info {
  display: none;
}

/* .dataTables_info {
   position: absolute;
   top: 0px;
   font-size: 0.8rem;
   font-weight: 100;
   color: #ded6d6;
   padding: 10px;
} */

.dataTables_scrollHead {
  max-height: 50px;
  border-bottom: 2px solid gold !important;
}

.dataTables_info_btn {
  color: white;
  left: 2%;
  position: relative;
  margin-top: 5px;
}

.dataTables_info_btn .col {
  color: #cfcdc0;
  font-size: 0.7rem;
}

.dataTables_info_btn .col.on {
  color: gold;
}

.dataTables_info_btn .col {
  cursor: pointer;
}

.dataTables_info_btn .download_excel {
  padding-left: 0px;
  cursor: pointer;
}

.dataTables_info_btn .refine_country_filter {
  cursor: pointer;
}

.countries_dropdown {
  margin-left: 30px;
}

.countries_dropdown ul {
  z-index: 111111111111;
  position: relative;
  top: -40px !important;
}

.dataTables_info_btn .row {
  margin: 0.75rem 0;
}

.countries_dropdown input.select-dropdown {
  width: 94%;
  border-bottom: unset;
}

.countries_dropdown .select-wrapper .caret {
  display: none;
  height: 92%;
  background: #ffc107;
  z-index: 2;
}

.ul_actions div span {
  display: inline-block !important;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 0.8rem !important;
}

.dataTables_scrollBody thead {
  display: none;
}

.highlighted_datatable_tr {
  background: #ff9800;
}

.dataTables_info_btn .select-wrapper {
  background-color: white;
  font-size: 0.6rem;
  width: 39%;
  height: 26px;
}

.countries_dropdown .select-wrapper input.select-dropdown {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
  margin-left: 5px;
}

.countries_dropdown {
  display: none;
}

/* from aqualex nex_styles.css */

.dataTables_wrapper .dropdown-content.select-dropdown {
  opacity: 1 !important;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  max-height: 300px;
  width: 100%;
}

.dataTables_wrapper .dropdown-content.select-dropdown {
  display: inline-block !important;
}

.dataTables_wrapper .dropdown-content.select-dropdown.unset {
  display: none !important;
}

.dataTables_wrapper .dropdown-content li>a,
.dropdown-content li>span {
  padding-top: 0px;
  padding-bottom: 5px;
}

.dataTables_wrapper .optgroup {
  /* border-radius: 5px; */
  opacity: 1;
}

.dataTables_wrapper .select-dropdown li.optgroup>span {
  font-weight: 300;
  color: #ffffff !important;
  /* font-size: 1.1rem !important; */
}

.dataTables_wrapper .dropdown-content.select-dropdown {
  box-shadow: unset;
  -webkit-box-shadow: unset;
  position: relative !important;
}

.dataTables_wrapper [type="checkbox"]+span:not(.lever) {
  font-size: 0.8rem !important;
  padding-left: 20px;
  color: #6D6D6D;
}

.dataTables_wrapper [type="checkbox"]+span:not(.lever):before,
.dataTables_wrapper [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  width: 14px;
  height: 14px;
  top: 2px;
  left: -1px;
  -webkit-transform: unset;
  transform: unset;
  border: 1px solid black;
  /* z-index: 0;
    border: 1px solid #5a5a5a;
    border-radius: 0px;
    margin-top: 4px; */
}

.dataTables_wrapper [type="checkbox"]:checked+span:not(.lever):before {
  background-color: #ffc107;
}

/* .dataTables_wrapper [type="checkbox"]:checked+span:not(.lever):before {
    top: 0px;
    left: 0px;
    width: 5px;
    height: 13px;
} */

.dataTables_wrapper .select-dropdown.dropdown-content li {
  background: white;
  line-height: 1.5rem !important;
  min-height: unset;
}

.dataTables_wrapper .btn-small {
  height: 20px !important;
  line-height: 20px !important;
  color: #161515;
  background-color: #ffc107;
}

.dataTables_info_btn .num {
  font-size: 1.3rem;
  color: #ffc107;
}

.dataTables_info_btn .num_total {
  font-size: 1rem;
}

.dataTable td,
.dataTable th {
  max-width: 150px !important;
  font-weight: 100;
  vertical-align: middle;
  padding: 7px !important;
}

.dataTable {
  /* to keep same length td and th!!! */
  table-layout: fixed !important;
}

.mdc-data-table__header-cell {
  height: auto;
}

.dataTables_scrollHeadInner {
  width: 100%;
}