html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: 100 !important;
}

#header,
.header2.clearfix,
.subheader2,
.globan,
.globan-container,
#main-navigation,
#subfooter,
#layout-header,
#main-navigation-inside,
#navbar-main,
.site-footer {
  display: none !important;
}

.row {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important;
}

#toolbar-bar #toolbar-item-administration-tray .toolbar-lining {
  line-height: 1;
  background-color: #f5f5f2;
  height: auto;
}

#toolbar-bar .contextual-toolbar-tab .toolbar-lining {
  display: none;
}


/* MAIN THEME STYLE OVERRIDES */
#scrollTop .btn {
  background-color: #004494;
}

.layout-main-wrapper .row-offcanvas {
  margin-bottom: 0;
}

section.section.pb-5 {
  padding: 0 !important;
}
/* END MAIN THEME STYLE OVERRIDES */


#block-akp-content nav {
  background: #090909 !important;
}

.sel_matrix_order {
  /* text-transform: uppercase!important; */
  color: #ff9800 !important;
  font-weight: normal;
  display: inline;
}

.lollipop_title_selected {
  color: yellowgreen !important;
}

.lollipop_graph_legend svg {
  width: 100%;
  height: 22px;
}

.lollipop_graph_legend text {
  color: white;
}

.lollipop_graph_legend {
  /* background-color: #3f4142; */
  display: inline;
  width: 60%;
  height: 20px;
  float: right;
  position: relative;
  top: 5px;
  margin-right: 9px;
  z-index: 100000000000;
}

.lollipop_legend_description,
.matrix_legend_description {
  color: white;
  margin-left: 18px;
  font-size: 0.9em;
  height: 20px;
  max-width: 35%;
  float: left;
}

#matrix_wrapper,
#lollipop_wrapper {
  position: fixed;
  display: none;
  z-index: 1000;
  margin-left: 10%;
  padding: 0px;
  background-color: #090909;
}

#lollipop_wrapper {
  cursor: pointer;
}

.show_hide_layer.on {
  color: #ff9800;
}

.indicator_title {
  /* font-size: 1.2rem !important; */
  font-size: 1rem;
  color: #e0e9e9;
}

.subheader {
  font-size: 1.2rem;
  color: #ff9800;
}

.row.summary .s3 {
  /* font-size: 1.2rem; */
  font-size: 1.1rem;
  text-align: center;
  font-weight: normal;
  color: #ff9800;
  text-align: center;
}

.my-custom-control divss {
  /* width: 30px!important;
    height: 30px!important; */
  cursor: pointer !important;
}

.legend_control {
  padding: 7px;
  background-color: #090909;
}

.legend_control_container_title {
  color: #ff9800;
  font-size: 1.2em;
}

.show_hide_circles {
  font-size: 0.95em;
  color: #74aeb5;
  cursor: pointer;
}

.show_hide_circles.on {
  color: #ff9800;
}

.input-field {
  min-height: 0px !important;
}

.btn-small.selected {
  color: #ff9800;
}

.input-field.expanded,
.country_li.expanded {
  min-height: 300px !important;
}

.matrix_icon {
  background-image: url(./view_list-24px.svg);
  display: none !important;
}

#map {
  width: 100vw;
  height: 100vh;
}

#map .mapboxgl-canvas-container svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-small.selected {
  background-color: #9acd32;
}

.overlay_layers_collection .collection-item .title {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 12px;
}

.rank_legend_dropdown_content li {
  line-height: 2rem !important;
}

.theme_container .collection-item {
  border: 0px solid #e0e0e0 !important;
}

.theme_container .collection {
  border: 0px solid #e0e0e0 !important;
}

.dropdown-button.active {
  background-color: #7fafdf;
}

.animated-icon {
  display: none;
  width: 30px;
  height: 30px;
  background-color: rgba(21, 158, 221, 0.87);
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: 1;
  box-shadow: 0px 0px 4px white;
  transition: background 1s linear;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  /* transition: all 1s; */
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.inner_circle {
  display: block;
  color: #f7f7f7;
  text-align: center;
  font-size: 8px;
  line-height: 20px;
}

.hidden {
  display: none;
}

.axis path,
.axis line {
  fill: none;
  /* stroke: rgb(0, 0, 0); */
  stroke: white;
  shape-rendering: crispEdges;
  display: none;
}

.heatmap .domain {
  display: none;
}

.x_tick line {
  display: none;
}

.tick text {
  fill: white;
}

.axis text {
  font-size: 0.9rem;
}

.y.axis text {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
}

.matrix_btn {
  position: relative;
  /* top: -80px;
    margin-left: 20px; */
}

.legend_control .btn-small {
  height: 20.4px;
  line-height: 19.4px;
  font-size: 13px;
  background-color: #292727 !important;
  padding: 0 0px !important;
  border-radius: 0px !important;
}

.rect:hover,
.tick:hover {
  cursor: pointer;
}

.x_mouseovered {
  font-size: 1.3em !important;
  fill: yellow !important;
  color: yellow !important;
}

.dropdown_legend_btn {
  background-color: #00bcd4;
}

.input-field input[type="search"]~.material-icons.icon-close {
  right: 2rem;
}

.search_div {
  max-width: 350px;
}

#baselayers_dropdown {
  min-width: 300px !important;
}

.dropdown-content [type="checkbox"]+label {
  top: -10px !important;
}

input[type="checkbox"]+label {
  top: 10px !important;
  margin-left: 16px !important;
}

#block-akp-content nav {
  height: 75px !important;
  line-height: 75px !important;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.title.show:hover {
  cursor: pointer;
  /* color: #6570ef; */
}

.overlay_layers_collection .collection-item .title span {
  width: 98% !important;
}

#block-akp-content .nav-wrapper {
  padding-right: 50px;
}

#block-akp-content .nav-wrapper .collection .collection-item {
  padding: 0px 10px !important;
}

#overlays_dropdown {
  min-width: 300px;
}

#overlays_dropdown .main.collection-item {
  min-height: 25px;
  padding: 5px;
  font-size: 1.4rem;
}

.overlay_layers_collection .collection-item i.material-icons {
  font-size: 19px !important;
  padding-right: 10px !important;
}

.material-icons:hover,
.card-panel:hover {
  cursor: pointer;
}

.country_li .input-field .prefix {
  top: 1.6rem !important;
  left: 8px;
  margin-top: -6px;
}

#slide-out ::placeholder {
  color: #ff9800 !important;
  font-size: 0.9rem;
}

.country_li .row {
  margin-bottom: 0px !important;
}

.status_list .country_name {
  font-size: 1.5em !important;
  color: #ff9800;
}

.nav-wrapper a {
  cursor: pointer;
}

.country_info {
  display: none;
  overflow: scroll;
  max-height: 65vh;
  margin-left: 4%;
}

.country_info::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 9px;
}

.country_info::-webkit-scrollbar-thumb {
  background-color: #ff9800;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.palette {
  color: gray;
  font-weight: bold;
  opacity: 0.8;
}

.palette.on {
  color: cornflowerblue;
  opacity: 1;
}

.expanded_layer {
  display: block !important;
}

.expanded_layer .col {
  background-color: aqua;
}

.collection-item .title:hover {
  /* background-color: #86a2cc; */
  cursor: default;
  /* padding: 5px; */
}

.theme_container.collection-item {
  background-color: rgb(170, 172, 166);
}

.theme_container .collection-item.on {
  background-color: rgb(194, 236, 78) !important;
}

.theme_container .collection-item:hover {
  background-color: #ff9800 !important;
}

.theme_container {
  display: none;
}

.theme_container.on {
  display: block;
}

nav ul.right li a {
  /* height: 35px !important; */
  margin: 0px 18px !important;
  padding: 0 0px !important;
}

nav .sidenav-trigger {
  position: relative;
  top: 5px;
}

.sidenav {
  top: 94px !important;
  left: 5px !important;
  /* z-index: 111111111; */
  /* width: 515px !important; */
  background-color: #d0bfbf00 !important;
  /* padding: 1px!important; */
  padding-bottom: 0px !important;
}

.sidenav li.active {
  background-color: #292a2b !important;
}

.sidenav .subheader {
  line-height: 15px !important;
}

.sidenav .card.collapsible-header {
  background-color: #90b8f3;
  margin: 0 0;
  line-height: 0px !important;
  border-bottom: 1px solid grey;
}

.z-depth-1,
#block-akp-content nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.collapsible,
.sidenav {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.sidenav .card.collapsible-header .material-icons {
  display: none;
}

.sidenav .general_stats {
  margin-left: 30px;
}

#block-akp-content .nav.sidenav-trigger {
  top: 6px !important;
}

.general_stats .title {
  font-size: 1.1em;
}

.general_stats .data {
  font-size: 0.9em;
  display: block;
}

#block-akp-content nav {
  pointer-events: auto !important;
}

#block-akp-content nav a.sidenav-trigger {
  display: block !important;
  /* background-color: none!important; */
}

a.modal-trigger i {
  line-height: unset !important;
}

.sidenav .card .card-content {
  padding-left: 10px;
  padding-top: 10px;
}

.sidenav .collapsible-body {
  border-bottom: 1px solid #d2c4c4;
  background-color: transparent !important;
  /* background-color:#f3eded!important; */
}

.sidenav .collapsible-body {
  overflow: auto;
  overflow-x: hidden;
}

.sidenav li.active {
  background-color: inherit;
}

.sidenav table {
  margin-left: 10px;
  width: 94%important;
}

#country_autocomplete_container .input-field {
  margin-left: 0px;
}

.info div {
  display: inline-block;
}

.lollipop_popup {
  height: auto;
  width: auto;
}

#lollipop_graph text,
#lollipop_graph line,
#lollipop_graph path,
#lollipop_graph .tick {
  stroke: white;
  stroke-width: 0.4;
}

/* .animated-icon {
            width: 30px;
            height: 30px;
            background-color: rgba(21, 158, 221, 0.87);
            margin: 0 auto;
            border-radius: 50%;
            border: 2px solid #fff;
            opacity: 1;
            box-shadow: 0px 0px 4px white;
            transition: background 1s linear;
            -webkit-transition: background 1s linear;
            -moz-transition: background 1s linear;
            
    }
    */

.rect_popup,
.lollipop_popup {
  background-color: #090909;
  padding: 8px;
  color: white;
}

.lollipop_popup {
  font-size: 0.8rem;
}

.lollipop_popup th,
.lollipop_popup td {
  padding: 5px !important;
  border-radius: 0px;
  text-align: center;
}

.popup_selected {
  /* color: #e8b10b!important; */
  color: #26a69a !important;
}

.popup_cell_selected {
  color: #bd93eb;
}

.rects_container {
  cursor: pointer;
}

.matrix_tooltip .popup_country_title,
.mapboxgl-popup-content .popup_country_title {
  color: #ff9800;
  font-size: 1.1rem;
}

.lollipop_popup .popup_country_title {
  font-size: 1.1rem;
  color: #ebd5b5;
  padding-bottom: 3px;
  margin-left: 4px;
}

.lollipop_popup .popup_rank_title {
  margin-left: 4px;
}

.modal .profile-overview td,
.modal .profile-overview th {
  text-align: center !important;
  border-radius: 0px !important;
  padding: 7px 5px !important;
  font-size: 1em !important;
  color: #0c0b0b !important;
  font-weight: 300;
  /* font-size: 1.1rem!important; */
  /* -moz-opacity: .50;
        -ms-filter: ”alpha(opacity=50)”;
        filter: alpha(opacity=50);
        filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0.5);
        opacity: .50; */
}

.index_country_info i {
  width: 16px;
  height: 16px;
  float: left;
  /* border-radius: 10px; */
  opacity: 1;
  margin-top: 2px;
  margin-right: 5px;
  /* border: 1px solid white; */
}

.mapboxgl-popup {
  z-index: 100000000 !important;
  max-width: 150px !important;
}

.mapboxgl-popup-content {
  position: relative;
  padding: 2px;
  font-size: 1.1em;
  border-radius: 2px;
}

.index_country_info {
  padding: 2px;
  /* font-size: 0.8em; */
}

.mapboxgl-popup-content .index_country_info i {
  width: 16px;
  height: 16px;
  float: left;
  /* border-radius: 10px; */
  opacity: 1;
  margin-top: 1px;
  margin-right: 5px;
  /* border: 1px solid white; */
}

.mapboxgl-popup-content .country_popup.rect_popup {
  min-width: 110px;
  max-width: 150px;
  min-height: 95px;
  font-size: 1em;
  /* padding: 5px!important;
    color: white;
    line-height: 18px; */
}

.mapboxgl-popup .country_popup .row {
  margin-bottom: 7px;
  font-size: 0.8em !important;
  /* justify-content: center; */
  align-items: center;
}

.mapboxgl-popup .country_popup.small_popup {
  color: white !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-bottom-color: #090909 !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #090909 !important;
}

.popup_container {
  max-height: 300px;
  min-width: 240px;
}

.heatmap_select {
  width: 250px;
  height: 200px;
}

.dropdown-content.select-dropdown {
  margin-top: 40px !important;
  font-size: 11px;
}

.select-wrapper .dropdown-content li>a,
.select-wrapper .dropdown-content li>span {
  font-size: 11px;
  /* color: #26a69a; */
  display: block;
  line-height: 14px;
  padding: 7px 8px;
}

.rank_legend_control_container {
  z-index: 5000000000000 !important;
  padding: 0px;
  border-radius: 0px !important;
  overflow: visible !important;
}

.rank_legend_control_container .select-wrapper input.select-dropdown {
  height: 2rem !important;
  font-size: 0.8em !important;
}

.rank_symbol_label {
  /* dark reddish */
  color: rgb(97, 8, 8);
}

.rank_legend_control_container .title {
  background: #72a3b0;
  color: white;
  font-size: 0.9rem;
  line-height: 24px;
  padding: 5px;
}

.rank_legend_control_container_title {
  color: white;
  font-size: 1.2em;
  padding-bottom: 10px;
  width: 600px;
}

.rank_legend_control {
  background-color: #090909;
}

.mapboxgl-ctrl-bottom-right {
  bottom: 95px !important;
  display: none;
}

.mapboxgl-ctrl-bottom-right .btn-floating {
  background-color: #004494;
  margin-right: 8px;
}

.rank_legend_control_container svg {
  height: 30px;
}

.rank_legend_control_container .tick text {
  font-size: 0.7rem;
  fill: white;
  font-weight: 400;
}

.general_rank_popup {
  margin-left: 4px;
  /* font-weight: bold; */
  /* text-shadow: 1px 1px 0px white; */
}

.popup_index_val {
  display: block;
  font-size: 0.9em;
}

.country_modal_trigger {
  display: none;
}

/* //:hover */

nav ul li a,
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

nav ul li i.material-icons {
  color: #e6ecef !important;
  font-size: 19px !important;
  padding-right: 10px !important;
  display: block;
  margin-right: 0px !important;
}

nav ul li i.material-icons.on {
  color: #ff9800 !important;
}

.profile-overview.ranks tbody tr td span {
  font-size: 1.7em;
  display: block !important;
  color: #ff9800;
}

.medium>div {
  margin-left: 10px;
}

.profile-overview.ranks tbody tr td span:last-child {
  font-size: 0.8em;
  color: #ffc107;
}

.material-icons {
  font-size: 1.8vw !important;
}

.modal-close i {
  color: white;
  font-size: 2vw !important;
}

.white_text {
  font-size: 1.2em !important;
}

.input-field .prefix,
.input-field .prefix.active {
  color: #ff9800 !important;
}

.rank_legend_control_container {
  height: 50px !important;
}

.rank_legend_control_container .matrix_btn {
  text-align: center;
  /* height: 41px!important; */
}

.rank_legend_control_container .matrix_btn div {
  display: inline-block;
}

.rank_legend_control_container .row {
  margin-bottom: 8px !important;
}

.rank_legend_control_container .btn-small {
  font-size: 0.7em !important;
  max-height: 26px !important;
  margin: 0 0px !important;
}

.rank_legend_control_container .col a {
  border-bottom: 1px solid white;
}

.rank_legend_dropdown_content {
  /* same height than defined in lollipop.js for svg! */
  min-height: 60px !important;
}

.rank_legend_dropdown_content li {
  line-height: 2rem !important;
}

#matrix_wrapper .rect:hover {
  cursor: pointer;
}

.click_country_control {
  background-color: #404142;
  color: white;
  min-width: 130px;
  font-size: 0.9em;
  border-radius: 0px !important;
  padding: 5px;
  top: 50px;
  /* display: none; */
}

.charts_control_container_ctrl {
  /* height: 40px;
        width: 40px; */
  background: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ranks_chart svg .domain,
.ranks_chart svg .tick line {
  display: none !important;
}

.profile-overview.ranks .tiny {
  margin-top: 4px;
  top: -7px;
  margin-left: 3px;
  font-size: 16px !important;
  color: #d6a310;
}

.profile-overview.ranks .tiny:hover {
  color: #1088d6;
  cursor: pointer;
}

.intro_title {
  font-size: 1.3rem;
  color: gold;
  width: 65%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#intro_modal p {
  margin: 0 0 15px !important;
}

.profile_checkbox {
  max-height: 34px;
  color: whitesmoke;
}

.profile_tool_info {
  font-size: 0.8em;
  line-height: 2.3;
  color: whitesmoke;
}

.hide_matrix,
.hide_lollipop {
  position: absolute;
  right: -7px;
  top: -8px;
  color: white;
}

.hide_matrix:hover {
  cursor: pointer;
}

#intro_modal h5 {
  margin-top: 0px !important;
}

.active_chart {
  color: #e8d73b !important;
}

.sidenav .card-title {
  font-size: 1.5rem;
}

.indicators_list:hover {
  cursor: pointer;
}

#intro_modal b {
  color: #ffc107;
}

#country_modal {
  z-index: 100000 !important;
}

#country_modal .country_profile_container,
#country_modal .table_container {
  display: none;
}

.table_link {
  position: absolute;
  bottom: 2px;
  display: inline-block;
  color: #26a69a;
  width: 140px;
  cursor: pointer;
}

.to_table_link {
  left: 10px;
}

.to_table_download {
  left: 180px;
}

.sidenav .profile_checkbox [type="checkbox"]+span:not(.lever) {
  padding-left: 30px;
  color: white;
}

.heatmap_tooltip_close {
  color: #e0e0e0;
  position: absolute;
  top: 2px;
  right: 4px;
  font-size: 1.3rem;
}

path.country {
  z-index: 9;
}

#legend_dropdown {
  max-height: unset !important;
}

#country_autocomplete_container .autocomplete-content {
  background-color: rgb(161, 158, 158);
}

#country_autocomplete_container .autocomplete-content span {
  color: white !important;
  font-size: 1.2rem !important;
}

#country_autocomplete_container .autocomplete-content span.highlight {
  color: #ff9800 !important;
  font-size: 1.4rem !important;
}

#country_autocomplete_container .autocomplete-content.dropdown-content li:hover {
  background: unset !important;
}

foreignObject,
.foreign {
  width: 120px;
  height: 15px;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
}

foreignObject .y_tick_text {
  position: absolute;
}

.x_axis_modal.x_axis_info {
  display: none;
}

#x_axis_modal {
  background-color: #090909 !important;
  top: 5% !important;
  max-height: 70% !important;
}

#x_axis_modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}

.x_axis_info.env_index_class img {
  width: 62%;
}

.x_axis_info.social_index_class img {
  width: 42%;
}

#x_axis_modal .modal-close i {
  color: white !important;
}

#x_axis_modal .x_axis_info {
  margin-top: 20px;
  display: none;
}

/*
#x_axis_modal h3 {
   text-align: center;
    margin: 20px;
    text-decoration: underline;
    text-decoration-color: indianred;
    text-decoration-thickness: 0.6rem;
    color: black;
    text-transform: uppercase;
}*/

.y_tick .material-icons {
  font-size: 1rem !important;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 3px;
}

.foreign_new.main_index_class {
  margin-left: 22px;
}

.foreign_new .y_tick_text.on {
  color: #ff9800 !important;
}

label {
  font-weight: unset !important;
}

.country_icon_info,
.light_mode.nightlight {
  display: none !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
  display: none !important;
}

.matrix_tooltip,
.lollipop_tooltip {
  z-index: 1111;
  font-size: 1rem;
  background-color: #3f4142;
  border: 1px solid #d7caca;
  padding: 0px;
  opacity: 1;
  width: auto;
  height: auto;
  position: absolute;
  background-color: #dcdfdf;
  color: #715e5e;
  cursor: pointer;
}