.analysis_container {
    display: none;
  }

  .analysis_container .row {
    margin-left: unset !important;
    margin-right: unset !important;
  }

  .analysis_container .first_row, .analysis_container .second_row {
    display: unset;
  }

  /* just for drupal! */

  .analysis_container.active_analysis {
    background-color: #090909;
    position: relative;
  }

  .ceat_body .analysis_container.active_analysis {
    width: 100vw;
    padding-top: 12px;
     padding-left: 10px;
     padding-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1111111 !important;
  }
 .row.adm_name >.col-9 span
 {
  margin-top: 5px;
  display: inline-block;
 }
  .adm_name {
    color: white;
    margin-bottom: 10px;
    line-height: 160%;
  }
  .adm_name  i {
    font-size: 1rem;

  }

  .adm_name .col-3
  {

      width: fit-content;
      float: right;
  }

  .analysis_container .drawn_area {
    width: 100%;
    font-size: 1.4rem;
    color: #FF5722;
    display: block;
    margin-bottom: 10px;
  }

  .adm_name .adm_area {
    width: 100%;
    font-size: 1.1rem;
    color: #eb7a56;
    display: block;
    /* margin-top: 8px; */
  }

  .analysis_container .adm_name .adm0 {
    font-size: 2rem;
  }

  .analysis_container .adm_name .adm1 {
    font-size: 1.8rem;
  }

  .analysis_container .adm_name .adm2 {
    font-size: 1.5rg188em;
  }

  .adm_unit_polygon .t_title {
    line-height: 20px !important;
  }

  .counts_col ul.collection.categorical {
    margin-left: 5px;
    background-color: #090909;
    color: white;
    border: unset;
  }

  .counts_col .collection.categorical span.name {
    position: relative;
    top: 3px;
  }

  .counts_col .collection.categorical li {
    background-color: #090909;
    color: white;
    border-bottom: 1px solid #090909;
  }

  .mapboxgl-popup-close-button {
    font-size: 1.5rem !important;
    color: white;
    z-index: 11;
  }

  .after_analysis_popup_html .close_analysis_popup {
    color: white;
    z-index: 111111111;
    position: relative;
    top: -7px;
    left: 7px;
    font-size: 1.5rem !important;
    margin-left: unset;
  }

  div.layer_analysis_short_description span {
    color: white;
    font-size: 1.3rem;
    padding: 2px;
  }

  .layer_analysis_short_description {
    display: none;
    font-size: 1.1rem;
    line-height: 25px;
  }

  .analysis_container i{
    /* top: -10px;
      right: 20px; */
    position: relative;
    z-index: 111111111;
    font-size: 1.4rem;


  }

  .extra_info.analysis_container i {
    color: #ccc7c7;
      text-align: right;
      outline: 1px solid #312e2e;
  padding: 5px;
  background: #191717;

  }

  .analysis_container .print_pdf {
    color: #ff5722;
    /* font-size: 2rem!important; */

  }

  /* Drupal css stuff... */

  div.status,
  table tr.ok {
    background-color: unset !important;
  }

  div.status {
    background-image: none !important;
    border-color: unset !important;
  }

  .analysis_card.card .info,
  .after_analysis_popup_html .info {
    /*margin: 5px;*/
    color: white;
    background-color: #090909;
    display: none;
    padding: 5px !important;
    border: 1px solid grey;
    position: relative;
    z-index: 111;
  }

  .analysis_card.card .info .row,
  .after_analysis_popup_html .row {
    width: 100%;
  }

  .analysis_card.card .info.div {
    display: none;
  }

  .analysis_card.card .info li {
    margin: 10px;
    padding: 5px;
    height: auto;
  }

  .analysis_card.card .info li:hover {
    cursor: pointer;
  }

  .analysis_card.card .counts_col {
    /* margin-top: 14px; */
  }

  .analysis_card.card .counts_col li {
    height: 25px;
    margin: 0px;
    padding: 0px;
    /*same as text in legend*/
    font-size: 1rem;
    color: #cbc2c2;
  }

  .analysis_container .ghs_africa_250m_bigger_2 .rows_container {
    line-height: 30px;
  }

  .analysis_container .ghs_africa_250m_bigger_2 .info .rows_container {
    margin-left: 5px;
    font-size: 0.8rem;
    color: #ddd;
  }

  .analysis_container .ghs_africa_250m_bigger_2 .rows_container span {
    height: 20px;
    width: 20px;
    display: inline-block;
  }

  /*.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip, .mapboxgl-popup-anchor-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-right .mapboxgl-popup-tip */

  .analysis_card.card .pop_total_density span {
    margin-right: 20px;

  }

  .analysis_card.card {
    background-color: #050404;

  padding: .5rem;

  }

  .li_info_container:hover {
    cursor: pointer;
  }

  .analysis_card .info .offset-s8 {
    font-size: 0.7rem;
  }

  .analysis_card .info .offset-s8.to_right {
    text-align: right;
  }

  .after_analysis_popup_html .analysis_card.card {
    margin: unset;
    padding-left: 5%;
    padding-right: 5%;
  }

  .analysis_card.card .general_info,
  .after_analysis_popup_html .general_info {
    padding: 0px !important;
  }

  .after_analysis_popup_html .analysis_card.card .card-content {
    /* line-height: 26px!important; */
    line-height: 7px !important;
  }

  .after_analysis_popup_html .analysis_card.card .card-title {
    line-height: normal;
  }

  .after_analysis_popup_html .analysis_card.card .card-content,
  .after_analysis_popup_html .card-content {
    /*padding: 24px!important;*/
    padding: 1px !important;
    /*padding-top: 10px!important;*/
    border-radius: 0 0 2px 2px !important;
    text-align: center;
    position: relative;
    /* top: 15px; */
  }

  .after_analysis_popup_html .ghs_counts_container>div {
    margin-bottom: 8px;
  }

  .analysis_card.card .card-title,
  .after_analysis_popup_html .card-title {
    top: 5px;
    color: #f7ac2c !important;
  }

  .after_analysis_popup_html .card-title {
    margin-top: 0px !important;
    font-size: 1rem;
    font-weight: 100;
  }
  .after_analysis_popup_html .taf_container .card-title
  {

  }
  /* .analysis_card.card .card-action, */
  .after_analysis_popup_html .card-action {
    padding: 16px 24px !important;
  }

  .analysis_card.card .card-action
  {
    margin: 0px;
    margin-top: 5px;
    padding-left: 0px;
line-height: 2rem;
    font-weight: 100;
  }
  .analysis_card.card .card-action>.s-8
  {
    padding-left: 0px;
  }
  .analysis_card.card .layer_counts,
  .after_analysis_popup_html .layer-counts,
  .ghs_counts {

    color: #fdca08;
    /* font-size: 1.9rem; */
    /* font-size: 2rem; */
    margin-bottom: 2px;
    padding-top: 1px;
  }

  /* .analysis_card.card .layer_counts::after,
          .after_analysis_popup_html .layer_counts::after
           {
              content: 'features';
              margin-left: 10px;
              color: white;
          }*/

  .analysis_card.card .title,
  .after_analysis_popup_html .title {
    /*orange with lower opacity*/
    color: #fdc750d1 !important;
    font-size: 1.1rem;
  }

  /* .analysis_param_title_container span  */

  .span_avg_sum {
    padding-left: 7px;
    font-size: 0.8rem;
    /* kind of grey */
    color: #ddd;
    display: block !important;
  }

  .analysis_card.card .title_attr,
  .after_analysis_popup_html .title_attr {
    padding: 5px;
  }

  .color_span {
    /* border: 4px solid; */
    color: white;
  }

  .after_analysis_popup_html .color_span {
    width: fit-content;
    /* margin-left: 35%; */
    display: table;
    margin: 0 auto;
  }

  /* .analysis_card.card .card-action a { */

  .analysis_container .switch {
    color: white;
    font-size: 0.8rem;
  }

  .card-content .d3_legend {
    margin-top: 0px;
  }

  .vis_by_param {
    color: #b6d3ea !important;
    font-size: .9rem;
  }

  .vis_by_param:hover {
    cursor: pointer;
    color:orange!important;
  }

  .extend_popup_analysis_info {
    /* margin-right: 50px; */
    /* color: #b23e19!important; */
  }

  .extend_popup_analysis_info.btn,
  .compare_from_popup.btn {
    height: 1.5rem;

    color: white !important;
    margin-top: 10px;
    font-size: 0.8rem !important;
    /* padding: 10px !important; */
  }

  .extend_popup_analysis_info:hover,.compare_from_popup:hover {
    cursor: pointer;
  }

  .compare_from_popup {
   /*  color: #db8609!important; */
  }

  .card-content .ghs_description {
    line-height: 20px !important;
  }

  .info_panels_modal {
    line-height: 20px;
    padding-right: 9%;
    padding-left: 9%;
    margin-bottom: 45px;
    /* overflow: auto; */
  }


  #intro_modal.modal {
    top: 10%!important;
    font-weight: 100;
    overflow: hidden;
    border: 1px solid grey;
    width: 60% !important;
    /* height: auto!important; */
    /* height: 70vw; */
    font-size: 1.1rem;
    overflow-y: auto;
    background-color: #090909;
    height: unset!important;
  }
.modal-backdrop.show {
    opacity: 1!important;
}
  #intro_modal .btn-close, #stats_modal .btn-close {
    opacity: 1;
  }

  #intro_modal .modal-dialog, #stats_modal .modal-dialog {
    max-width: 100%;
  }

  #intro_modal .modal-content, #stats_modal .modal-content {
    padding: 0 24px 0 24px;
  }

  #intro_modal .modal-body, #stats_modal .modal-body {
    padding-left: 0;
    padding-right: 0;
  }

  .initial_modal {
    width: 100%;
    /* background-image: url('../img/energy_tool.png')*/
    background-color: #090909;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    /*max-height: 55vh;*/
  }

  .what_why p {
    margin-left: 5px;
    line-height: 2.5;
  }

  .initial_modal .initial_modal_description p {
    padding: 9px;
    font-size: 1rem;
    line-height: 2;
    margin-top: 50px;
    /* position: relative; */
    /* bottom: 18px; */
    color: #c4c9cc;
    border: 0.1px solid #eab513ad;
  }

  .info.what_why li {
    line-height: 25px !important;
    margin-bottom: 20px;
  }

  #intro_modal .modal-content h3 {
    /*margin-bottom: 80px;*/
    color: #e39900;
  }

  #intro_modal .modal-content h3::after {
    content: 'Beta';
    color: rgba(255, 0, 0, 0.74);
    font-size: 1rem;
    margin-left: 10px;
  }

  #intro_modal .modal-content .row {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  #intro_modal .modal-content .row .col-md-4 {
    font-size: 1.3rem;
    color: #ecc44e;
    cursor: pointer;
  }

  .info_panels_button .active {
    /*reddish*/
    color: #e6673f !important;
  }
  .info_panels_button >div:hover {
    cursor: pointer;
  }


  .vis_by_param {
    font-size: 0.7rem;
  }

  .analysis_container .switch .text {
    color: white;
    font-size: 0.8rem;
  }

  .layer_counts.hc_off_grid {
    font-size: 1.5rem !important;
  }

  .layer_counts.hc_in_grid::after {
    content: 'in the grid';
    color: white;
    font-size: 0.6rem;
    margin-left: 5px;
  }

  .layer_counts.hc_in_grid {
    margin-left: 8px;
  }

  .layer_counts.hc_off_grid::after {
    content: 'off the grid';
    color: white;
    font-size: 0.6rem;
    margin-left: 5px;
  }

  .after_analysis_popup_html .switch.only_inside_pol_data {
    display: none;
  }

  .plot_datatable {
    margin-left: 13px;
    border-bottom: 1px solid #ff9800;
    margin-top: 10px;
    background: unset;
  }

  .plot_datatable:hover {
    cursor: pointer;
  }

  .sort.active,
  .expand.active {
    color: #ff9800;
  }

  .card-container.ghs_africa_250m_bigger_2 .row_header .col.s3 {
    text-align: center;
  }

  .switch label .lever {
    background-color: #8e8e8e;
  }

  .analysis_container .to_stats_modal:hover {
    cursor: pointer;
  }

  .analysis_container .to_stats_mosdal {
    font-size: .8rem;
    margin-left: 0px;
    padding: 5px;
max-width: 50%;
    max-height: 1.5rem;
    line-height: 0.6rem;
    color: white !important;
    text-decoration: underline;
    text-decoration-color: #ff9800;

    font-weight: 100;
    display: inline-block;
  }
  .after_analysis_popup .mapboxgl-popup-content{

    max-height: 65vh;
    overflow: auto;
  }

  .after_analysis_popup .adm_title
  {
    font-size: 1.3rem!important;
    margin-bottom: 10px;
    line-height: 2rem;
    text-align: center;
  }
  .taf_container * {
    font-size: .8rem!important;
    margin-top: 0px;
  }

  .taf_container .card-container:first-child {
    margin-top: 10px;
  }
  .tooltip
  {
    z-index: 9999999999999999!important;
  }
