
.test-slider {
    width: 300px;
    /* height: 3px; */
    /* height: 30px; */
    margin-left: 20px;
    margin-top: 10px;
}


/**** Custom styles for noUiSlider ****/

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background: purple;
}

.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: purple;
}
.slider.opacity_slider .noUi-handle,
.slider.opacity_slider .noUi-handle {
    background: #ff9800!important;
}

.noUi-base {
    /* background-color: #4e4557d9; */
}

.slider.opacity_slider .noUi-tooltip {
    background-color: #ff9800!important;
}


/**** Custom styles for Range ****/

input[type=range]::-webkit-slider-thumb {
    background-color: skyblue;
}

input[type=range]::-moz-range-thumb {
    background-color: skyblue;
}

input[type=range]::-ms-thumb {
    background-color: skyblue;
}


/* For the globe and the text inside */

input[type=range]+.thumb {
    background-color: blue;
}

input[type=range]+.thumb.active .value {
    color: #fff;
}

.materialized_slider_container>div {
    min-height: 70px;
}

.materialized_slider_container .noUi-horizontal {
    position: relative;
    /* top: 20px; */
    top: 10px;
    width: 95%;
    margin-left: 4px;
}

.slider {
    margin-bottom: 20px;
    margin-left: 5px;
    width: 90%;
}

.slider .noUi-base {
    height: 4px;
}

.slider.opacity_slider .noUi-base {
    height: unset;
}

.slider.opacity_slider .noUi-horizontal {
    height: 2px;
}
