
div#overlays_switcher i {
    padding: unset;
    color: grey;
}

#overlays_switcher > div,#baselayers_switcher >label
{
    margin-bottom: 10px;
}
#baselayers_switcher > div
{
    padding-bottom: .5rem;
}
.overlays_switcher_row
{
    padding-bottom: .5rem;

}
.overlays_switcher_palette,.overlays_switcher_labels
{
    /* margin-right: 10px; */
    display: none;
    margin-top: .5rem!important;
}
.overlays_switcher_palette i,
.overlays_switcher_labels i
{
    font-size: 1.3rem;
}


.overlays_switcher_row i.active
 {
    color: goldenrod!important;

}

.fcolorpicker-curbox .fcolorpicker-curbox {
    border: 1px solid #bbb9b9;
}

.notype.gaul_level_0.fill_color_tool {
    display: none;
}
.color-btn-group
{
    display: inline!important;
}
.cancel-color
{
    display: none!important;
}
.stroke_dash .collection-item:hover {
    background: gold;
    cursor: pointer;
}
.fcolorpicker .color-btn-group .confirm-color
{
    width:100%!important;
    display: block!important;
}
.stroke_dash .collection-item {
    padding: 3px;
    color: black;
}

.stroke_dash .collapsible-header {
    padding: 3px;
    color: white;
    background: #e1851e;
}

.stroke_dash {
    border-bottom: unset;
}

.stroke_dash .collapsible-body {
    padding: 1px;
}

.fcolorpicker .opacity {
    display: none;
}

.fcolorpicker .color-type {
    display: none;
}

.color-type.color-slidedown.iconfontcolorpicker.iconcolorpickerxiala {
    display: none;
}

i.menu_styling_back {
    font-size: 12px;
    float: right;
    color: gold;
}

#menu i:hover {
    cursor: pointer;
}


.stroke_width .select-wrapper input,
.stroke_width .select-wrapper ul {
    display: none;
}

.stroke_width .select-wrapper select {
    display: block!important;
    height: 2rem!important;
}

.nice-number {
    display: inline-flex;
    justify-content: stretch;
}

.nice-number input {
    vertical-align: middle;
    -moz-appearance: textfield;
    box-sizing: content-box;
    margin: 0;
    text-align: center;
}

.nice-number input::-webkit-inner-spin-button,
.nice-number input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nice-number {
    height: 22px;
    /* background: rgb(236, 205, 102); */
    color: white!important;
}

.nice-number button {
    height: 22px;
    background: #e1851f;
    color: #e1dada;
}

.nice-number input {
    height: 22px!important;
    width: 40px;
    margin: unset!important;
}


/* #overlays_switcher label::after {
    font-family: 'Material Icons';
    content: "palette";
    -webkit-font-feature-settings: 'liga';
} */

#overlays_switcher label {
    margin-left: 0px;
    padding-left: 0px;
}

.overlays_switcher_symbol .title {
    color: #e1851f;
}

.styling_header {
    text-align: center;
}
.styling_header .layer-title
{
    background-color: #ff9800;
}
.overlays_switcher_palette {
    display: none;
}

.overlays_switcher_palette i {
    color: #bbbbbb;

    padding-left: 5px;
}

#menu {
    display: none;
    position: absolute;
    background: rgb(0, 0, 0);
    padding: 7px;
    /* font-family: "Open Sans", sans-serif; */

    right: 5px;
    border: 1px solid whitesmoke;
    /* max-width: 33vw; */
    width: 20vw;
}

#menu.active {

    z-index:111;
}

#menu .menu_close{
    position: absolute;
    left: 93%;
    font-size: 1.8rem;
    top: 0px;
}
#menu form {
    display: block;
}

#baselayers_switcher {
    margin-right: 10px;
    border-bottom: 1px solid #685d5d;
    padding-bottom: 10px;
}

#menu form label {
    margin-right: 5px;
}

.menu_switcher_container .material-icons
{

}
#overlays_switcher label {
    /* color: #03a9f4; */
}

#menu form span {
    padding-left: 28px !important;
}

#menu input {
    padding: 0px;
    opacity: 1;
}
#menu .form-check input,
#overlays_switcher .form-check input
{
    opacity: 1!important;
    padding: unset;
    border-radius:0%;
}

#menu .form-check input[type="radio"],
#menu .form-check input[type="checkbox"],
#menu .form-check input[type="checkbox"]:not(:checked),
#menu .form-check input[type="checkbox"]:checked
{
    pointer-events: all!important;
    opacity: 1;
}

#menu .form-check label
{
    font-size: 1rem;
    margin-left: .5rem;
}
.nice-number input {
    padding: 0px!important;
    border: 0px;
    color: white;
    font-size: 0.8rem!important;
}

.nice-number button {
    padding: 3px;
    border: 0px;
}
.nice-number button:hover
{
    cursor: pointer;
}
.overlays_switcher_symbol ._container
{

    border: 1px solid #434647;
    margin-bottom: .7rem;
}
.overlays_switcher_symbol_container .row {
    /* border-bottom: 1px solid #463a3a; */
    margin: 7px!important;
}

#menu form span {
    padding-left: 28px!important;
}

.overlays_switcher_symbol {
    display: none;
    color: white;
    /* font-size: 0.7rem; */
}
.overlays_switcher_symbol .remark
{
font-size: 1.1rem;
color: chocolate;
margin-right: 8px;
}