.cat_div {
  color: white;
  margin: 10px;
  text-align: center;
}

td.data_td {
  margin: 0;
  /* vertical-align: top; */
  padding: 2px 5px;
  margin: 2px;
  text-align: center;
}

.dataTable {
  table-layout: fixed;
  color: white
}

.dataTables_wrapper, .main_dataTables_wrapper, .hc_dataTables_wrapper {
  background-color: #090909;
  /* border-radius: 4px; */
  /* border-width: .5px;
  border-style: solid; */
  /* border-color: rgba(0,0,0,.12); */
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
  /* margin-top: 1rem; */
}

.dataTables_wrapper th, .main_dataTables_wrapper th, .hc_dataTables_wrapper th {
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .9rem;
  line-height: 1.375rem;
  font-weight: 100;
  letter-spacing: .0071428571em;
  text-decoration: inherit;
  text-transform: inherit;
  box-sizing: border-box;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px;
  height: auto!important;
}

.taf_dataTables_wrapper .dataTables_wrapper th
{
  padding:.5rem;
  font-size: 1.3rem;
}

#taf_modal th  {
  background:#1f262a;
}

.dataTables_wrapper td, .main_dataTables_wrapper td, .hc_dataTables_wrapper td {
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  line-height: 1.25rem;
  font-weight: 100;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  border-bottom: 0.5px solid #5d5555 !important;
  padding: 0px;
}


td,
th {
  color: white !important;
  max-width: 80px;
  max-height: 50px;
  text-align: center;
  padding-right: 3px;
  padding-left: 3px;
  /* border-left: 1px solid floralwhite; */
}

/* .mdc-data-table__header-cell */

.datatable_legend_icons_container i.active {
  color: #fb9801;
}

.datatable_legend .collection-item.active {
  background-color: #464545 !important;
}

.from_all_admin_simple_analysis .download_excell_simple_analysis:hover {
  cursor: pointer;
}

.from_all_admin_simple_analysis .download_excell_simple_analysis,
.from_all_admin_simple_analysis .fullscreen_table {
  color: #ef9612;
  font-size: 1rem;
  text-decoration: underline;
  display: inline-block;

  text-align: center;
}

.from_all_admin_simple_analysis .download_excell_simple_analysis:hover,
.from_all_admin_simple_analysis .fullscreen_table:hover {
  color: orange;
  cursor: pointer;
}

.from_all_admin_simple_analysis.inactive {
  background-color: unset !important;
  border: unset;
  min-width: unset;
  box-shadow: unset;
}

.slide_btn {
  display: none;
}

.slide_btn i {
  font-size: 1.6rem;
}

.slide_btn a.btn-floating {
  background-color: #fb9801;
  /* #fb9801 */
}

.dataTables_scrollBody td.active {
  border-right: 1px solid #2fa1ff;
  border-left: 1px solid #2fa1ff;
  background-color: #9b5f04 !important;
}

.from_all_admin_simple_analysis .title .col.s10 {
  text-align: center;
  font-size: 1.2rem;
}

.from_all_admin_simple_analysis table {
  margin-bottom: 0px !important;
}
.dt-scroll-head th
{
  border-right: 1px solid white;;
}
.dt-scroll-body td,.dt-scroll-head th
{
  text-align: center!important;
  border-radius: 0px!important;

}

.from_all_admin_simple_analysis td
{
  font-size: 1rem;
  padding: 0px 7px!important;
  text-align: center!important;
}

.from_all_admin_simple_analysis th
{
  font-size: .9rem;
}
.from_all_admin_simple_analysis tr
{
  height: 2rem;
}

.from_all_admin_simple_analysis th {
  border-right: 1px solid rgb(142, 130, 130) !important;
}


.from_all_admin_simple_analysis .close_popup {
  font-size: 22px;
  color: #ff9800;
}

.from_all_admin_simple_analysis .close_popup:hover {
  cursor: pointer;
}

.from_all_admin_simple_analysis>.row>.col.s2 {
  padding: 0px !important;
}

.datatable_title .title,
.from_all_admin_simple_analysis .title {
  color: white;
  text-align: center;
  padding: 2px;
}

.datatable_title .title {
  font-size: 0.8rem;
}

.from_all_admin_simple_analysis .title {
  font-size: 1.3rem;
}

.datatable_title .title span,
.from_all_admin_simple_analysis .title span {
  color: #ff9800;
  font-size: 1rem;
}

.from_all_admin_simple_analysis th.adm_th {
  width: 30% !important;
}

.from_all_admin_simple_analysis td.adm_td {
  width: 30% !important;
  text-align: left;
  min-height: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.from_all_admin_simple_analysis td.adm_td .adm_td_actions > span:first-of-type {

margin-left: 5px;
}

.from_all_admin_simple_analysis .datatable_legend .collection-item i {
  font-size: 0.9rem;
  /* display: inline-block; */
}

.from_all_admin_simple_analysis .datatable_legend .material-icons {
  vertical-align: unset !important;
}

.from_all_admin_simple_analysis .datatable_legend .collection-item i.visibility {
  display: inline;
  max-width: 13px;
}

.from_all_admin_simple_analysis .datatable_legend .datatable_legend_icons_container>span {
  display: inline-block;
  max-width: 13px;
}

.from_all_admin_simple_analysis .datatable_legend .datatable_legend_icons_container {
  margin-left: 10px;
}

.from_all_admin_simple_analysis .datatable_legend .collection-item .param_container {
  color: white !important;
}

.from_all_admin_simple_analysis td.adm_td .col-md-10 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 3px;
}

.from_all_admin_simple_analysis td.pop.mdc-data-table__cell {
  width: 18% !important;
  font-size: 0.7rem !important;
}

.from_all_admin_simple_analysis th.pop {
  width: 18% !important;
}

th {
  color: #cecece !important;
  font-weight: 100;
}

.mdc-layout-grid {
  color: gold;
  font-weight: 100;
}

.cat_div {
  color: white;
  margin: 10px;
}

.cat_div span {
  display: inline-block;
}

.cat_div i {
  font-size: 1rem;
  margin-left: 0.7rem;
  color: gold;
  cursor: pointer;
}

.val_div_container {
  display: none;
}

.th_icon {
  float: right;
  position: relative;
  cursor: pointer;
}

.th_icon i {
  font-size: 1.1rem;
}

.div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_asc:after,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_desc:after,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting:after,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_asc:before,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting_desc:before,
div.dataTables_wrapper table.mdc-data-table__table thead tr th.sorting:before {
  content: none !important;
  /* display:none; */
}

.sort.active {
  color: #fff;
}

.val_div_container>span {
  font-size: .8rem;
}

.val_div_container .val {
  /* font-size: 1.3rem; */
  color: #2ba59a;
}

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom: 0.5px solid #5d5555;
}

.countries_dropdown ul {
  max-height: 500px;
  max-width: 300px;
}

.ul_actions div span {
  display: inline-block !important;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 0.8rem !important;
}

.dataTables_scrollBody thead {
  display: none;
}

td.adm_td {
  /* width: 80px;  */
  /* font-size: 1.1rem; */
  font-weight: 100;
  text-align: left !important;
  padding-left: 2px !important;
  /* width:15%; */
}

.dataTables_wrapper {
  width: 100%;
  margin-right: 40px;
  margin-left: 40px;
}

#stats_modal .dataTables_wrapper {
  margin-right: 0px;
  margin-left: 0px;
}

table {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

.dataTables_filter,
.dt-buttons {
  /* display: none !important; */
}

.data_td {
  display: none;
}

.mdc-data-table__row td {
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

.taf_dataTables_wrapper .mdc-data-table__row td {
padding:5px;
}

#stats_modal td {
  height: 30px;
}

.from_all_admin_simple_analysis .mdc-data-table__header-row {

  border-right: 1px solid #8e8282;
}

tr.higlighted_datatable_tr {
  background: #d88f1e !important;
}

tr.temp_higlighted_datatable_tr {
  background: #05b97296 !important;
  cursor: pointer;
}

.mdc-data-table__row {
  border-bottom: 1px solid #655b5b;
}

.datatable_title {
  font-size: 1.8rem;
  /* height: 50px; */
  color: white;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.datatable_title:after {
  position: absolute;
  content: '';
  border-bottom: 2px solid #c9352a;
  width: 70%;
  transform: translateX(-50%);
  bottom: -10px;
  left: 50%;
}

.dataTables_scrollHead {
  max-height: 40px;
  border-bottom: 3px solid #ff9800 !important;
}

.mdc-data-table__row {
  /* border-bottom: 1px solid grey; */
  height: 2rem;
}

.mouseovered_datatable_tr {
  background: #d55e5e !important;
  cursor: pointer;
}

.from_all_admin_simple_analysis thead .material-icon {
  transform: rotate(90deg);
}

.mapboxgl-ctrl-bottom-right.with_table {
  /* bottom: 10px!important; */
  /* bottom: -135px!important; */
  /* top: 122px; */
}

.mapboxgl-ctrl-bottom-right.with_table .dataTables_wrapper {
  width: 30vw;
  max-height: 68vh;
  margin-left: 0px;
  margin-right: 0px;
}

.mapboxgl-ctrl-bottom-right.with_table .dataTables_wrapper .mdc-data-table__cell {
  height: auto;

}
.adm_td .d-flex
{
  text-wrap: balance!important;
  margin: 0px!important;
  padding: 0px!important;

}
.adm_td .d-flex.col-2
{
/* border-right: 1px solid #8e8282;
  border-left: 1px solid #8e8282; */
}
.mapboxgl-ctrl-bottom-right.with_table .mdc-data-table__cell,
.mapboxgl-ctrl-bottom-right.with_table .mdc-data-table__header-cell {
  padding: 5px;
}

.mapboxgl-ctrl-bottom-right.with_table .mdc-data-table__header-cell {
  overflow: unset;
  /* padding-left: 100px; */
  height: fit-content;
  padding-top: 10px;
}

.mapboxgl-ctrl-bottom-right.with_table ::-webkit-scrollbar {
  width: 6px;
}

.mapboxgl-ctrl-bottom-right.with_table .dataTables_scrollHead {
  max-height: unset;
}

th.rotate {
  /* Something you can count on */
  white-space: nowrap;
}

th.rotate>div {
  transform:
    /* Magic Numbers */
    translate(2px, 107px)
    /* 45 is really 360 - 45 */
    rotate(-90deg);
  width: 35px;
}

th.rotate>div>span {
  border-bottom: 1px solid #ccc;
  /* padding: 5px 10px; */
}

.mapboxgl-ctrl-bottom-right.with_table .mdc-data-table__row td {
  font-size: 1rem;
  line-height: 1.5rem;
}

.adm_td_actions {
  display: none!important;
  margin: 1rem 0px!important;
  padding-bottom: .5rem;
}

.adm_td_actions .bi {
  font-size: 1rem;
}

.adm_td_switch {
  color: #858282;
  padding: unset;
}

.adm_td_switch i {
  font-size: 1.5rem;

}

.adm_td_actions i
{
  font-size: 1rem!important;
  color: #7c8183!important;
}
.map_results_control_container table .bi:hover,
.datatable_legend .bi:hover


{
cursor: pointer!important;
color:orange!important;
}

.mapboxgl-ctrl-bottom-right.with_table .datatable_legend .collection .collection-item {
  background-color: #212020;
  line-height: 1rem;
  padding: 2px 2px;
  margin: 0;
  border-bottom: 1px solid #575651;
  line-height: 0.4rem;
  font-size: .8rem;
  /* max-height: 1.5rem; */
}

.mapboxgl-ctrl-bottom-right.with_table .datatable_legend .collection {
  border: unset;
  border-bottom: 1px solid #e0e0e0;
}

.datatable_legend .col.short_name {
  color: ff9800;
  margin-right: 20px;
  padding: unset;
}

/* holding the gradient legend on analysis */

.datatable_legend .map_legend_container {
  display: none;
  /* background: #322525; */
  /* border-bottom: 1px solid grey; */
  padding: 7px;
  margin-bottom: 0px !important;
}

.map_legend_container>.col {
  /* margin:2px!important; */
  padding: unset !important;
}

.map_legend_container .min,
.map_legend_container .max {
  /* height: 13px;
  top: 8px; */
  position: relative;
  font-size: 0.9rem;
}

.map_legend_container .min span {
  float: left;
}

.map_legend_container .max span {
  float: right;
}

.map_legend_container .gradient {
  margin-right: unset;
}

/* NEWS */

.datatable_legend>.collection {
  margin-bottom: 0px !important;
}

.map_legend_container .map_table_interaction,
.map_legend_container .map_table_circles {
  height: 20px;
  font-size: 0.8rem;
}

.map_legend_container .map_table_interaction {
  margin-top: 0px;
}

.map_legend_container .map_table_interaction span,
.map_legend_container .map_table_circles span,
.map_legend_container .map_table_labels span {
  font-size: 0.7rem;
}

.map_legend_container .map_table_interaction [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after,
.map_legend_container .map_table_circles [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  border: 2px solid #be7a12;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 0.9rem;
}

.dataTables_info_btn .info {
  color: white;
  width: fit-content;
}

.dataTables_info_btn .hc_params label,
.dataTables_info_btn .hc_params [type="checkbox"]+span:not(.lever) {
  color: white !important;
  font-size: 0.8rem !important;
  font-weight: normal !important;
  padding-left: 25px !important;
}

#stats_modal .dataTables_info_btn,
#stats_modal .show_hide_params_description2_btn {
  cursor: pointer;
}

#stats_modal .dataTables_info_btn,
#stats_modal .show_hide_params_description2_btn {
  margin-left: 0px;
  text-decoration: underline;
  text-decoration-thickness: .2rem;
  text-decoration-color:orange ;
  color: white !important;
  font-weight: 100;
  display: inline-block;
}

.show_hide_params_description2_btn {
  /* background-color: #2196f3 !important; */
}

.dataTables_info_btn .download_excel_table {
  cursor: pointer;
}

.hidden_th {
  display: none;
}

td.hidden {
  display: none;
}

#stats_modal .main_dataTables_wrapper {
  margin-left: 0px;
  width: 100%;
}

.adm_name.col.s9 {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
}

.datatables_counts {
  font-size: 1.2rem;
  color: #ff5722;
}

#stats_modal .modal-content {
  padding: 7px !important;
}

.mdc-data-table__table {
  white-space: unset !important;
}

#stats_modal .mdc-data-table__header-cell {
  height: unset !important;
  background-color: #ef8f02a6 !important;
  padding: .5rem;
  font-size: 1.1rem;
  border-right: 1px solid gray;
  color: orange;
  color: #e3dcdc !important;
}

.modal {
  top: 2% !important;
  max-height: 95% !important;
  height: fit-content;
  font-weight: 100;
  /* overflow: hidden; */
  border: 1px solid grey;
  color: #e0e0e0;
  max-width: 80% !important;
  overflow: auto;
  background-color: #090909;
  z-index: 11111111;
}

.modal .info {
  font-size:1rem;
  margin: 0.7rem 0px;
}

.modal td {
  -webkit-font-smoothing: unset;
  font-weight: 100;
  vertical-align: middle;
}

.modal td {
  vertical-align: unset;
}

.dataTables_info {
  display: none;
}

#stats_modal .adm_td span.empty {
  margin-right: 5px;
  font-size: .7rem;
  color: #ffc107;
  font-weight: 200;
}

.highlighted_datatable_content {
  background-color: #373333;
  font-size: 1.1rem!important;
}

.cat {
  padding: 5px;
  color: white;
  border-radius: 5%;
  width: fit-content;
  font-size: .8rem;
}

.hc_dataTables_wrapper .params_description {
  color: white;
  background: #090909;
}

.hc_dataTables_wrapper .params_description_container {
  color: #cfc4c4;
  font-size: .8rem;
  font-weight: 100;
  display: inline-table;
  max-width: 18%;
  margin-right: 1rem;
}

.hc_dataTables_wrapper .params_description_container .collection-item {
  padding: 5px 0px;
}

#stats_modal .collapsible {
  margin-top: 2rem;
}

#stats_modal .collapsible-body {
  padding: 1rem;
}

#stats_modal .collapsible-header {
  background-color: #322e29;
  border: 1px solid #5d5959;
}

#stats_modal .collection {
  border: unset !important;
}

#stats_modal .collection a.collection-item:not(.active):hover {
  background-color: unset !important;
  cursor: unset !important;
  text-decoration: none !important;
}

.hc_dataTables_wrapper .collection a.collection-item {
  background: #090909;
  color: white;
  font-size: .8rem;
  border: unset;
}

.hc_dataTables_wrapper .collection {
  border: 1px solid #575151;
}

.params_description_container .collection-item {
  padding: 5px 10px;
}

.hc_dataTables_wrapper .params_description_container .col-content {
  border: 1px solid #5d5959;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
}

.hc_dataTables_wrapper .params_description2 {
  display: none;
}

.hc_dataTables_wrapper .show_hide_params_description2 .btn {
  font-size: .8rem;
  padding: 0 4px;
  color: white;
}

.hc_dataTables_wrapper .collection .col.s3 {
  padding: 0 0.2rem;
}

.hc_dataTables_wrapper .params_description_container .title {
  /* max-width: 150px; */

  padding: 5px;
  font-size: 1rem;
}

.hc_dataTables_wrapper .params_description_container table span
{
  font-size: .8rem;
}

#stats_modal .tabs li.tab {
  border: 1px solid #594a33;
  border-radius: 0.16rem;
  background-color: black;
}

#stats_modal .tabs li.tab a {
  color: #ffc107 !important;
  margin-left: 20px !important;
  font-weight: 100;
  margin-top: 0px;
}

.params_description_container table {
  table-layout: auto;
  width: fit-content;
  min-width: 170px;
}

.params_description_container table td,
.params_description_container table th {
  border: none;
  padding: 5px 5px;
  text-align: left;
}

#stats_modal .tabs {
  background-color: black;
  border-bottom: 1px solid darkgray;
  border-bottom: 1px solid #3c3333;
}

.tab.col {
  font-size: 1rem;
  color: white;
  background: black;
  border-right: 1px solid grey;
}

.tabs_row {
  border: 1px solid white;
}

#stats_modal .tabs .tab a {
  text-align: left !important;
  text-transform: none !important;
  padding: 0 4px !important;
  font-size: 1rem !important;
  color: #575050 !important;
  margin-top: 7px;
  font-weight: bold;
}

#stats_modal .tabs .indicator {
  top: 36px;
  background-color: #ffc107;
  width: 20%;
  margin-left: 0px;
  height: .2rem;
}

#stats_modal .tabs .tab a:focus,
#stats_modal .tabs .tab a:focus.active {
  background-color: unset;
  outline: none;
}

#stats_modal .row_container {
  /* padding: 7px;
  border-top: 0px; */
}

.hc_dataTables_wrapper .params_description_container table {
  margin-bottom: unset;
}

.hc_dataTables_wrapper .dataTables_scrollHeadInner {
  width: 100% !important;
}

.all_hc_dataTables_wrapper {
  padding: 8px;
  /* border: 1px solid #444040; */
  border-top: 0px;
}

.map_legend_container [type="checkbox"]:not(:checked),
.map_legend_container [type="checkbox"]:checked {
    position: unset!important;
    opacity: unset!important;
    pointer-events: unset!important;
    margin-right: 5px!important;
}

label.form-check-label:hover,
label:hover
{
  cursor: pointer!important;

}

  .from_all_admin_simple_analysis .form-check-label {
    /* margin-top: .5rem; */
}

#stats_modal .mdc-data-table__content
{
  font-size: 1rem!important;
}

/* #stats_modal .dt-scroll-body thead
{
  display: none;
} */
.dt-scroll-body tr
{

}
.dt-scroll-head
{
  /* height: fit-content; */
}
.dt-search {
  display: none;
	width: 200px;
	height: 30px;
  margin:5px 3px;
}
.dt-scroll-head
{
  height: auto;
  color: white;
  border:1px solid gray;
  font-size: 1rem!important;
}
.dt-scroll-head th
{
  text-align: center;
  font-size: 1rem!important;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td
{
  padding: 3px!important;
  background-color: unset!important;
  background-color: #2f2a2a!important;
  font-weight: 100!important;
  font-size: 1rem!important;
}

table.dataTable > tbody > tr > td
{
  font-size: 1rem!important;
}

table.dataTable tbody tr > .dtfc-fixed-start, table.dataTable tbody tr > .dtfc-fixed-end {

	background-color: unset!important;
}
div.dt-container .dt-search input
{
  margin-left: unset;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order::before
{
  opacity:1!important;
  color:white!important;
}
.dt-column-order
{
 opacity:1!important;
 color:orange!important;
}
.dt-column-order
{
  display: none!important;
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc
{
  padding-right:0px!important;
}

.custom-toolbar {
  display: flex;
  align-items: center;
  gap: 10px; /* Spacing between the elements */
}

.custom-toolbar .form-control.bs-find
{
  width:50%!important;
  height:2rem!important;
  background-color: white!important;
  font-size: 1rem!important;
  margin-top: 1rem;
  color:black!important;
}
.datatable_legend
{
  margin-left: .5rem;
}

i.pdf-button
{
  font-size: 1.5rem;
  color:#a90909;
}
.dt-scroll-head th
{
  background-color: #2f2a2a;
transition: background-color 0.3s ease;
}
.dt-scroll-head th:hover
{
  transition: all 0.3s;
  background: orange!important;
}

.dt-scroll-head th:not(:hover)
{
  transition: background-color 0.1s ease .1s; /* 2-second delay for returning */
}

div.dt-buttons > .dt-button,
div.dt-buttons > div.dt-button-split .dt-button
{
  background-color:#413b3b!important;
  border: 1px solid gray;
}
div.dt-buttons > .dt-button:hover,
div.dt-buttons > div.dt-button-split .dt-button:hover
{
  cursor: pointer;
}