 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{% set nodeTitle = node.label|length > 80 ? node.label|slice(0, 80)|raw : node.label|raw %}
{% set nodeBody = content.body|render|striptags|length > 200 ? content.body|render|striptags|slice(0, 200)|raw ~ "..." : content.body|render|striptags %}
{% set editpath  = '/node/' ~ node.id ~ '/edit' %}

{% if "https://" in node.field_tool_link.0.url|render|render %}
  {% set toolPath  = url %}
{% else %}
  {% set toolPath  = node.field_tool_link.0.url %}
{% endif %}


<div class="card teaser-card mb-3 w-100">
  <div class="card-image">
      <img class="card-img-top opacity-50" src="{{ node.field_tool_image.entity.uri.value|image_style('medium') }}"/>
      <div class="image-overlay d-flex align-items-end">
          <a href="{{ toolPath }}" class="card-title h5 p-3 text-white"><strong>{{ nodeTitle }}</strong></a>
      </div>
      <h5 class="card-type-btn"><button type="button" class="btn btn-dark" disabled>Tool</button></h5>
      <a href="{{ toolPath }}" aria-label="More info" class="card-search-icon text-white p-0 m-3 align-self-center menu-open-indicator btn btn-warning rounded-circle"><i class="fa-solid fa-magnifying-glass"></i></a>
  </div>
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="fst-italic">{{ nodeBody }}</div>
    <div class="card-sliders">
      {% if node.field_reference_policy.value is not empty %}
          <div class="card text-warning">
              <h5 class="biopama-collapse card-title d-flex justify-content-between p-3 m-0" id="card-title-{{ node.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ node.id }}" aria-expanded="false" aria-controls="collapse{{ node.id }}"><div class="inner-card-title"><i class="fa-solid fa-gauge me-3"></i>Related Policies</div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div></h5> 
              <div class="collapse wrapper-data-card p-3" id="collapse{{ node.id }}"> 
                {{content.field_reference_policy[0]}}
                {% for key, value in content.field_reference_policy %}
                  {% if key > 0 %}
                        {{ ', ' }}{{ value }}
                  {% endif %}
                {% endfor %} 
              </div>
          </div> 
      {% endif %}
      {% if node.field_indicator_thematic.value is not empty %}
          <div class="card text-warning">
              <h5 class="biopama-collapse card-title d-flex justify-content-between p-3 m-0" id="card-Topic-{{ node.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTopic{{ node.id }}" aria-expanded="false" aria-controls="collapseTopic{{ node.id }}"><div class="inner-card-title"><i class="fa-solid fa-list me-3"></i>Related Topics</div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div></h5> 
              <div class="collapse wrapper-data-card p-3" id="collapseTopic{{ node.id }}"> 
                {{ content.field_indicator_thematic[0] }}
                {% for key, value in content.field_indicator_thematic %}
                  {% if key > 0 %}
                        {{ ', ' }}{{ value }}
                  {% endif %}
                {% endfor %} 
              </div>
          </div> 
      {% endif %}
      <div class="row">
        <div class="col-12 text-end pt-2">
          {% if is_admin %}		
            <a href="{{ editpath }}" class="btn btn-light" role="button">Edit</a>
          {% endif %}
          <a class="btn btn-primary" href="{{ toolPath }}">View Tool</a>
        </div>
      </div>
    </div>
  </div>
</div>