{{ attach_library("akp_tools/pvdei") }}
{{ attach_library("akp_tools/tools_base") }}

<div id="intro_modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>PV Decentralised Energy Investment (PV-DEI) Index</h5>
        <div class="float-start">
          <div class="intro_title">What?</div>
          <div class="row">
            <div class="col">
              <p>The Photovoltaic Decentralised Energy Investment (PV-DEI) Index measures how favourable it is to invest in decentralised photovoltaic (PV) mini-grids in a given country.</p>
              <p>The index is based on financial, environmental, social and political factors. This explorer highlights good practices as well as challenges related to mini-grid investments for Sub-Saharan African countries.</p>
            </div>
          </div>
          <div class="intro_title">Why?</div>
          <div class="row">
            <div class="col">
              <p>650 million people in Africa have no access to electricity. Although the continent has a huge untapped renewable energy potential, there is a lack of investment in renewable energy systems.</p>
              <p>The PV-DEI Index can be of interest to stakeholders in the institutional and private sectors: policy makers, international donors, governments and philanthropic investors.</p>
            </div>
          </div>
          <div class="intro_title">How?</div>
          <div class="row">
            <div class="col">
              <p>The PV-DEI index uses 52 indicators classified in 4 main pillars:</p>
              <p>- the <b>financial</b> indicators are positive if the funding possibilities in the country are favourable;</p>
              <p>- the <b>political</b> indicators are positive if the political/policy situation is stable;</p>
              <p>- the <b>environmental</b> indicators reflect the potential for exploiting local renewable energy resources, in particular with PV mini-grids, and minimizing CO2 emissions;</p>
              <p>- the <b>social</b> are positive when investments can bring higher socio-economic impact, i.e., when electrification can bring greater relative benefits to areas with higher levels of poverty.</p>
              </br>
              <small>The PV-DEI tool methodology is the result of a collaborative effort between the Joint Research Centre, DG INTPA and the University of Cambridge's Centre for Environment, Energy and Natural Resource Governance</small>.
              <small>For further description of the methodology, see the </small><a href="https://doi.org/10.1016/j.rser.2021.111282" target="_blank">following publication</a>. <small>Check also the </small><a href="https://doi.org/10.1016/j.dib.2021.107265" target="_blank">complete dataset</a>.
              </br>
              <p style="margin-top:20px!important;">
                <span style="text-decoration: underline;text-decoration-color: #c75440;text-decoration-thickness: 0.4rem;">Important caution:</span> given the rapid political changes occurring in some countries, some scores may be sensitive to the time when the data was collected.The PV-DEI index currently only covers one specific point in time (2019), although future work will extend the PVDEI-tool to measure the evolution of the index over time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav>
  <div class="nav-wrapper">
    <img class="jrc-logo" src="https://global-surface-water.appspot.com/gsw/newmockup/img/europelogo.png" alt="">
    <p class="app-title">PV Decentralised Energy Investment Index </p>
    <ul class="right">
      <li>
        <a class="btn legend_dropdown_button" href="#" title="Show/hide index legend">
          <i class="material-icons on">layers</i>
        </a>
        <ul id="legend_dropdown" style="height:200px!important; display:none;" class="legend_dropdown_content">
          <li class="main collection-item">
            <div class="legend_control">
              <div class="legend_control_container">
                <div class="legend_control_container_title">Index</div>
                <svg></svg>
                <div class='show_hide_circles_container'><span class="show_hide_circles">Show ranking number</span></div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a class="btn rank_legend_dropdown_button" href="#" title="Show/hide index ranking scale" style="display:none;">
          <i class="material-icons on">palette</i>
        </a>
        <ul id="rank_legend_dropdown" style="display:none;" class="rank_legend_dropdown_content">
          <li class="main collection-item">
            <div class="rank_legend_control">
              <div class="rank_legend_control_container">
                <div class="matrix_btn row">
                  <div class="col s3"><a class="btn-small main_index_val">Main index</a></div>
                  <div class="col s3"><a class="btn-small env_index_val">Environmental</a></div>
                  <div class="col s2"><a class="btn-small social_index_val">Social</a></div>
                  <div class="col s2"><a class="btn-small financial_index_val selected">Financial</a></div>
                  <div class="col s2"><a class="btn-small political_index_val">Political</a></div>
                </div>
                <svg class="legend_svg"></svg>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" data-target="slide-out" class="sidenav-trigger" style="display:block!important;" title="Show/hide lateral sidebar">
          <i class="material-icons on">view_module</i>
        </a>
      </li>
      <li>
        <a class="modal-trigger" href="#intro_modal" data-bs-toggle="modal" data-bs-target="#intro_modal" title="Show/hide initial information">
          <i class="material-icons icon_info on">info</i>
        </a>
      </li>
      <li>
        <a class="modal-trigger x_axis_modal_trigger" href="#x_axis_modal">
          <i class="material-icons country_icon_info">info</i>
        </a>
        <a class="modal-trigger country_modal_trigger" href="#country_modal">
          <i class="material-icons country_icon_info">info</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div id="tooltip_rank_instructions" class="center base_tooltip_info" style="display:none;">
  Country colors on the map are symbolized according to <div class="sel_matrix_order"></div> rank (based on a total of 38 countries rank).<br>
  You can change the index clicking on the legend labels
  <i class="material-icons close">close</i>
</div>
<div id="caution_msg" class="base_tooltip_info" style="display:none;">
  <span style="text-decoration: underline;text-decoration-color: #c75440;text-decoration-thickness: 0.4rem;">Important caution:</span> given the rapid political changes occurring in some countries, some scores may be sensitive to the time when the data was collected.The PV-DEI index currently only covers one specific point in time (2019)
  <i class="material-icons close">close</i>
</div>
<ul id="slide-out" class="sidenav">
  <ul class="collapsible">
    <li class='indicators_li'>
      <div class="card horizontal collapsible-header indicators">
        <div class="card-image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title card-title_country">Indicators</span>
            <p class="country_name_header"></p>
            <div><i onclick="window.print()" class="material-icons pdf_print">picture_as_pdf</i></div>
            <div><i class="material-icons csv_export_all">cloud_download</i></div>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <ul class="list indicators_list">
          <li>
            <div class="row">
              <div style="padding:unset" class="col s12">
                <div class="indicators_list row">
                  <div class="center matrix_indicator_select on">Scoreboard</div>
                  <div class="center other_indicator_select">Break-down by pillars</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class='country_li main_li'>
      <div class="card horizontal collapsible-header country">
        <div class="card-image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title card-title_country">Country Profile</span>
            <!-- <p class="country_name_header"></p> -->
            <div><i onclick="window.print()" class="material-icons pdf_print">picture_as_pdf</i></div>
            <div><i class="material-icons csv_export_all">cloud_download</i></div>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="row" style="margin-left:auto; margin-right:auto;">
          <div class="col-md-12 profile_tool_info">
            Get extended information about a country using the country search tool or activating the map querying tool
          </div>
        </div>
        <div class="row" style="margin-left:auto; margin-right:auto;">
          <div class="col-md-12 profile_checkbox">
            <form class="left" action="#">
              <p>
                <label>
                <input type="checkbox" class="filled-in" checked/>
                <span>Map querying tool</span>
                </label>
              </p>
            </form>
          </div>
        </div>
        <div class="row" style="margin-left:auto; margin-right:auto;">
          <div class="col-md-12">
            <div class="row" id="country_autocomplete_container">
              <div class="input-field col-md-12">
                <i class="material-icons prefix">search</i>
                <input autocomplete="off" type="text" placeholder="Search for a country" id="autocomplete-input" class="autocomplete white-text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</ul>
<div id="map"></div>
<div id="heatmap_tooltip" class="center base_tooltip_info" style="display:none;">
  You are visualizing <span class="tooltip_title">Scoreboard indicator</span>.<br>
  Scoreboard is ordered by <span class="sel_matrix_order">General Index</span>. Click any other label (Financial, social...) in order to change scoreboard and map
  <i class="material-icons close">close</i>
</div>
<div id="matrix_wrapper">
  <div class="heatmap">
    <svg></svg>
    <div class="table_link to_table_link">Visualize as table</div>
    <div class="table_link to_table_download">Download data</div>
  </div>
  <i class="material-icons close">close</i></span>
</div>
<div id="lollipop_wrapper">
  <div class="lollipop_legend_description">PV Decentralised Energy Investment Index</div>
  <div class="lollipop_graph_legend">
    <svg></svg>
  </div>
  <div id="lollipop_graph"></div>
  <i class="material-icons close">close</i></span>
</div>
<div id='x_axis_modal' class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="x_axis_info env_index_class">
          <img src="/modules/custom/akp_tools/energy_json/Environmental_indicators.svg">
        </div>
        <div class="x_axis_info social_index_class">
          <img src="/modules/custom/akp_tools/energy_json/Social_indicators.svg">
        </div>
        <div class="x_axis_info political_index_class">
          <img src="/modules/custom/akp_tools/energy_json/Political_indicators.svg">
        </div>
        <div class="x_axis_info financial_index_class">
          <img src="/modules/custom/akp_tools/energy_json/Financial_indicators.svg">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="country_modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="country_profile_container">
          <div class="profile_div center">
            <h3 class='country_name'>Cameroon</h3>
            <div style="font-size:1.1em; text-align:left;">Ranking<span style="font-size:80%"> over 38 countries</span></div>
            <table class="profile-overview ranks">
              <thead>
                <tr>
                  <td style="background-color:coral;">Overall Score</td>
                  <td style="background-color:rgb(167, 99, 215);">Environmental</td>
                  <td style="background-color:rgb(47, 163, 125);">Social</td>
                  <td style="background-color:rgb(151, 157, 156);">Political</td>
                  <td style="background-color:rgb(234, 207, 61);">Financial</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="medium general_rank">
                    <div>
                      <span></span>
                      <span></span>
                    </div>
                  </td>
                  <td class="medium rank_env">
                    <div>
                      <span></span>
                      <span></span>
                    </div>
                  </td>
                  <td class="medium rank_social">
                    <div>
                      <span></span>
                      <span></span>
                    </div>
                  </td>
                  <td class="medium rank_political">
                    <div>
                      <span></span>
                      <span></span>
                    </div>
                  </td>
                  <td class="medium rank_financial">
                    <div>
                      <span></span>
                      <span></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="ranks_chart"></div>
            <div class="bubble_container">
              <div class="upper_tooltip">
                <div class="chart_title">
                  <div class="x_param"></div>
                  <span>vs</span>
                  <div class="y_param"></div>
                </div>
                <div class="row circle_legend_container">
                  <div class="circle_legend col-md-4" style="margin-left:8.3333333333%;">
                    <div class="title"></div>
                    <div class="circle">
                      <svg>
                        <g></g>
                      </svg>
                    </div>
                  </div>
                  <div class="circle_color_legend col-md-5">
                    <div class="title">Main performance</div>
                    <div id="circle-legend" class="circle">
                      <!-- <svg> </svg> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9" id="bubble_chart"></div>
                <div class="col-md-3" style="padding:unset!important;">
                  <div class="fixed_bubble_popup">
                    <div class="tooltip_container">
                      <div class="row countries">
                        <div class="col-bubble col-md-6 t_title"></div>
                        <div class="col-bubble col-md-3"></div>
                        <div class="col-bubble col-md-3" style="color:#9e9e9e;"></div>
                      </div>
                      <div class="row x_row">
                        <div class="col-bubble col-md-6 t_title">Average Levelized cost of electricity per country [EUR/kWh]</div>
                        <div class="col-bubble col-md-3">4</div>
                        <div class="col-bubble col-md-3"></div>
                      </div>
                      <div class="row y_row">
                        <div class="col-bubble col-md-6 t_title">PV mini-grid market size</div>
                        <div class="col-bubble col-md-3">4</div>
                        <div class="col-bubble col-md-3"></div>
                      </div>
                      <div class="row r_row">
                        <div class="col-bubble col-md-6 t_title">GHG emissions avoided per year (ktons CO2eq)</div>
                        <div class="col-bubble col-md-3">4</div>
                        <div class="col-bubble col-md-3"></div>
                      </div>
                      <div class="row color_row">
                        <div class="col-bubble col-md-6 t_title">Performance</div>
                        <div class="col-bubble col-md-3">4</div>
                        <div class="col-bubble col-md-3"></div>
                      </div>
                      <div class="show_more">Show more</div>
                      <div class="more_info_container">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="bubble_selects_div">
                <div class="chart_options">
                  <span class="title">Chart options <i class="fa fa-angle-down" aria-hidden="true"></i></span><span class="bubble_download">Download data</span>
                  <div class="all_options_div">
                    <div class="row inputs_div">
                      <div class="col-md-2 bubble_labels_div">
                        <label>
                        <input type="checkbox" class="filled-in" checked />
                        <span>Visible labels</span>
                        </label>
                      </div>
                      <div class="col-md-2 bubble_border_div">
                        <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Circle border</span>
                        </label>
                      </div>
                      <div class="col-md-2 bubble_opacity">
                        <span>Circle opacity</span>
                        <input type="number" min="0.1" max="1" value="0.6" step="0.1" class="number" />
                      </div>
                      <div class="col-md-2 bubble_line_div">
                        <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Grid lines</span>
                        </label>
                      </div>
                    </div>
                    <div class="row collapsibles_div">
                      <ul class="collapsible x_axis_c col-md-4">
                        <li>
                          <div class="collapsible-header valign-wrapper">X Axis<span></span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                          <div class="collapsible-body">
                            <select id="x_bubble_select" data-placeholder="Select parameter to compare"></select>
                          </div>
                        </li>
                      </ul>
                      <ul class="collapsible y_axis_c col-md-4">
                        <li>
                          <div class="collapsible-header valign-wrapper">Y Axis<span></span><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                          <div class="collapsible-body">
                            <select id="y_bubble_select"></select>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="country_info" style="display:block;">
            <div><a class="btn-small btn_bubble">Bubble chart</a></div>
            <div class="subheader" style="padding-top:10px;">GENERAL INFORMATION</div>
            <ul class="list status_list">
              <li>
                <div class="row summary" info_container="general">
                  <div class="pop_ghsl col-md-8 indicator_title">Population</div>
                  <div class="col-md-3 left">23,010,302</div>
                </div>
              </li>
            </ul>
            <div class="subheader">STATUS</div>
            <ul class="list status_list">
              <li>
                <div class="row summary" info_container="status">
                  <div class="row">
                    <div class="er_2019 col-md-8 indicator_title">Electrification rate</div>
                    <div class="col-md-3">62.1</div>
                    <div class="rer_2019 col-md-8 indicator_title">Rural electrification rate</div>
                    <div class="col-md-3">23.1</div>
                    <div class="re_2014 col-md-8 indicator_title">Renewable energy share in the total final energy consumption</div>
                    <div class="col-md-3 left">23.1</div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="subheader">IMPACTS</div>
            <ul class="list status_list">
              <li>
                <div class="row summary" info_container="impacts">
                  <div class="row">
                    <div class="row" style="text-decoration:underline;">Market size: Electricity access</div>
                    <div class="pop_noelect_minigrid col-md-8 indicator_title">Market size: number of new customers</div>
                    <div class="col-md-3">7,078,933</div>
                    <div class="pop_minigrid col-md-8 indicator_title">PV mini-grid market size</div>
                    <div class="col-md-3">6,052,091</div>
                    <div class="pop_shs col-md-8 indicator_title">Market size by SHS or nano-solar</div>
                    <div class="col-md-3 left">1,026,842</div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="subheader">FINANCIAL FIGURES</div>
            <ul class="list status_list">
              <li>
                <div class="row summary" info_container="impacts">
                  <div class="npv_sum col-md-8 indicator_title">Total investment (EUR) 20 years lifetime
                  </div>
                  <div class="col-md-3"></div>
                  <div class="lcoe_average col-md-8 indicator_title">Average Levelized cost of electricity per country [EUR/kWh]</div>
                  <div class="col-md-3"></div>
                  <div class="npv_cap col-md-8 indicator_title">cost/capita [EUR/person]</div>
                  <div class="col-md-3"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="table_container">
          <div class="dataTables_wrapper">
            <div class="dataTables_info_btn">
              <div class="info">Showing <span class='num'>38</span> countries of <span class="num_total">38</span></div>
              <div class="row">
                <div class="col-md-3 download_excel">Download Excel</div>
                <div class="col-md-3 refine_country_filter">Refine your filter</div>
              </div>
              <span class="countries_dropdown">
              <select multiple>
              </select>
              </span>
            </div>
            <table id="example" class="dataTable" width="100%">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>