body, html, p, a, li, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a
{
    font-family: unset!important;
}
body,body * {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
    font-family: 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial!important;
    -moz-osx-font-smoothing: grayscale;

}
.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;

    --bs-modal-bg: unset!important;
    --bs-modal-border-color: unset!important;
    --bs-modal-border-width: unset!important;
    --bs-modal-border-radius: unset!important;
    --bs-modal-box-shadow: unset!important;
    --bs-modal-inner-border-radius: unset!important;
    --bs-modal-header-padding-x: unset!important;
    --bs-modal-header-padding-y: unset!important;
    --bs-modal-header-padding: unset!important;
    --bs-modal-header-border-color: unset!important;
    --bs-modal-header-border-width: unset!important;
    --bs-modal-title-line-height: unset!important;
    --bs-modal-footer-gap: unset!important;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: unset!important;
    --bs-modal-footer-border-width: unset!important;
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.card {
    /* ... existing properties ... */
    --bs-card-cap-bg: unset!important;
    --bs-card-cap-color: unset!important;
    --bs-card-height: unset!important;
    --bs-card-color: unset!important;
    --bs-card-bg: unset!important;
    --bs-card-img-overlay-padding: unset!important;
    --bs-card-group-margin: unset!important;

}

.row {
    --bs-gutter-x: unset!important;
    --bs-gutter-y: unset!important;

}

#header,
.header2.clearfix,
.globan,
.globan-container,
#main-navigation,
.main-menu.menu,
.globan.dark,
#subfooter,
#layout-header,
#main-navigation-inside,
.subheader2,
#navbar-main,
.site-footer,
#akp-header,
#block-akp-page-title,
#ec-header,
#navbar-top {
  display: none !important;
}
body.path-energy-tool body > *
{
 font-family:unset!important;
}
.row {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important;
}

#toolbar-bar #toolbar-item-administration-tray .toolbar-lining {
  background-color: #f5f5f2;
  height: auto;
}

#toolbar-bar .contextual-toolbar-tab .toolbar-lining {
  display: none;
}


/* MAIN THEME STYLE OVERRIDES */
.section {
  padding: 0;
}

section.section.pb-5 {
  padding: 0 !important;
}
/* END MAIN THEME STYLE OVERRIDES */


#main-content>div {
  width: 100% !important;
  margin: 0;
}

/* #block-akp-content nav */


#block-akp-content nav .row {
  margin: unset;
}

#block-akp-content nav ul li {
  float: left !important;
}

#block-akp-content nav>div>ul.right>li {
  float: right !important;
}
/* END Diego for AKP */
/* .mapboxgl-ctrl.mapboxgl-ctrl-group > button { */
    /* display: inline-flex!important; */
    /* } */
.ceat_navbar
{
    background-color: #ff9800 !important;
  z-index: 999;
  height: 56px !important;
  line-height: 56px !important;
 max-height:55px!important;
	overflow:hidden;
}

.ceat_navbar .navbar-text
{
    font-size: 1.4rem;
    color:white
}
.ceat_navbar >div
{
	 max-height:55px;
	overflow:hidden;
}
.ceat_navbar .navbar-nav
{
display:block;
		 max-height:55px;
}

.ceat_navbar .navbar-nav .nav-link
{
	padding:.3rem 1.4em !important;
	display:inline-block!important;
}
#main-navigation,
.main-menu.menu,
.globan.dark {
    display: none!important;
}
.card .card-content .card-title i {
    line-height: 16px !important;
    color: #efe8e8;
    margin-right: -3px !important;
    margin-left: 1px !important;
    /* font-size: 20px !important; */
    font-size: 1.2rem!important;
    padding-right: 6px;
    position: relative;
}

.indicators_li .card .card-content .card-title i.bi {

}
.card-title.activator {
    color: white!important;
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 0px!important;
}

.analysis_layer i,.taf_layer i {
    top: 15px;
}

.indicators_li i {
    top: 5px;
}


/* africa platform layers */

.main_layer i {
    top: 13px;
}

.highlight.on,
.opacity.on,
._info.on,
.expand_analysis_container.on,
.download.on {
    color: #fddc00 !important;
    opacity: 1;
}

.expand_analysis_container {
    /* display: none; */
}

.mapboxgl-ctrl-icon.on {
    /* .card-title.btn.on { */
    background-color: #fddc00 !important;
}

._info {
    display: none;
}

.d3_legend {
    width: auto;
    display: none;
    /* height: 50px; */
}

.analysis_layer .d3_legend {
    /*min-height: 150px;*/
}

.d3_legend .new.badge.blue {
    display: none;
}

g.legendCells text,
.table_analysis .rows_container>.row text {
    fill: #cbc9c2;
    font-size: 1rem;
    font-weight: 100;
}
.main_layer.travelid g.legendCells text {
    font-size: 0.8rem;
}
.analysis_container g.legendCells text

{
    fill: #cbc8c2;
    font-size: .9rem;
    font-weight: 100;
}


.analysis_container text.label_sec {
    font-size: 0.9rem!important;
    fill: #cbcac3!important;
}

.taf_geotermal_ungrouped g.legendCells text
{
    font-size: .8rem;
}

.cell {
    fill-opacity: 1;
}

.cell.off {
    fill-opacity: 0.25;
}
.analysis_layer .row.d3_legend > .col.s4
{
    padding:0px;
}
.mapboxgl-popup-content {
    background-color: #3f4142;
    padding: 9px 9px 9px;
    border-radius: 2px;
}

.mapboxgl-popup {
    color: #fff;
    /* max-width: unset!important; */
    /* max-width: 240px; */
    width: auto;

}

.mapboxgl-popup-content {
    position: relative;
    /* border-radius: 2px; */
    padding: 5px;
    background: #0c0c0c;
    border: 1px solid #fff;
    /* -webkit-box-shadow: 10px -10px 3px -4px rgba(115,105,115,0.65);
    -moz-box-shadow: 10px -10px 3px -4px rgba(115,105,115,0.65);
    box-shadow: 10px -10px 3px -4px rgba(115,105,115,0.65);*/
}


/* .popup_container {
    max-height: 300px;

} */

.highlighted_row {
    border: 1px solid #ffbc1f;
    background: #ff98003b;
}

.mapboxgl-popup .row {
    /* font-size: 0.8rem !important; */
    /* justify-content: center; */
    /* margin-bottom: 3px !important; */
    position: relative;
    /* border-bottom: 0.01px solid #b2b96d; */
}


/* .mapboxgl-popup .col {
color: #53c9fe;
} */


/*.mapboxgl-popup.feature_map_popup .info_container,
.after_analysis_popup .info_container
{
    font-size: 1.1rem !important;
}*/

.mapboxgl-popup.feature_map_popup .col.popup_col_f_name,
.mapboxgl-popup.after_analysis_popup .col.popup_col_f_name {
    padding: 0px 0xp !important;
    max-width: 15vw;
}

.mapboxgl-popup.feature_map_popup .f_name .mapboxgl-popup.after_analysis_popup .f_name {
    font-size: 1.3rem;
    color: #cbfa95;
}


/* //the span with the value */

.mapboxgl-popup.feature_map_popup .mapboxgl-popup-content .col.info_container span,
.mapboxgl-popup.after_analysis_popup .mapboxgl-popup-content .col.info_container span {
    vertical-align: middle;
    /* position: absolute;
top: 50%;
margin: 0;
-ms-transform: translateY(-50%);
transform: translateY(-50%); */
    /* display: inline-block;
width: 50%;
left: 55%; */
    font-size: 1.1rem;
    margin-left: 20px;
}


/* //the span with the classification (low, height...) */

.mapboxgl-popup.feature_map_popup .mapboxgl-popup-content .col.info_container span.badge,
.mapboxgl-popup.after_analysis_popup .mapboxgl-popup-content .col.info_container span.badge {
    margin-left: 0px;
    left: 0;
}

.mapboxgl-popup.feature_map_popup .mapboxgl-popup-content .col.info_container .left {
    padding-top: 4px;
}

.map_legend_control_container .row {
    margin-bottom: 9px !important;
}

.map_legend_control_container {
    display: none;
    max-height: 438px;
    overflow: auto;
    color: white;
    min-width: 300px;
    background-color: #415161 !important;
    padding: 3px !important;
    border: 1px solid #c5d0d7;
    color: white;
}

.baselayer_switcher {
    background-color: black;
    height: 60px;
    width: 305px;
    right: 5px;
    position: relative;
    top: 0px;
    color: white;
    font-size: 0.8rem;
}

.explore_countries_menu,
#menu {
    display: none;
    position: absolute;
    background: rgb(0, 0, 0);
    padding: 10px;
    /* font-family: "Open Sans", sans-serif; */

    right: 20px;
    border: 1px solid whitesmoke;
}

#menu input {
    padding: 8px;
}

#menu .form-check input,
.analysis_container .form-check input {
    opacity: 1;
    padding: unset;
    pointer-events: all;

}
#menu .form-check input:hover,
.analysis_container .form-check input:hover
{
    cursor: pointer;
}
#drawn_polygon .btn_maps {
    padding: 0 .75rem;
    /* padding: 10px; */
    /*display: none;*/
    color: #ecc44e;
}

.draw_rec_custom {
    margin-right: 1%;
}

.btn_maps .btn {
    margin-left: 5%;
}

.btn.clean_custom,
btn.zoom_custom {
    display: none;
}

.mapbox-gl-draw.ctrl-draw-btn {
    display: none;
}

.raster_legend_svg .axis path,
.raster_legend_svg .axis line {
    /* fill: none;
    stroke: none; */
    /*black;*/
    fill: black;
    stroke: black;
    shape-rendering: crispEdges;
    visibility: visible;
}


/* .raster_legend_svg text {
    font-size: 11px;
} */

.raster_legend_svg .tick line {
    display: none;
    fill: white;
    stroke: white;
    shape-rendering: crispEdges;
}

#global .row {
    margin-bottom: 0px !important;
}

.global_remove .btn {
    background-color: #ffc107;
}

.global_analysis_table,
.raster_stats_container {
    /*font-size: 0.8rem;*/
    color: white;
    padding: 10px;
}

.global_analysis_table {
    color: black;
}

.global_analysis_table .row {
    margin-bottom: 0px !important;
}

.global_analysis_table .col.s4,
.global_analysis_table .col.s5 {
    text-align: center;
}

.raster_scale_container {
    display: none;
}

.raster_stats_container .row,
.global_analysis_table .row {
    margin-bottom: 0px !important;
}

.global_analysis_table span {
    display: inline;
}

.global_analysis_table .row_title,
.raster_stats_container .row_title {
    font-size: 0.7rem;
    line-height: 12px;
}

.global_analysis_table span.color_span,
.raster_stats_container span.color_span {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.mapbox-gl-draw_ctrl-draw-btn {
    display: none !important;
}

.tick line {
    display: inline;
    fill: white;
    stroke: white;
    shape-rendering: crispEdges;
}

.tick text {
    fill: white;
}

.global_remove {
    display: none;
}

.global_analysis .btn {
    color: white !important;
    font-size: 0.6rem;
}

.card .card-content {
    /* padding: 24px; */
    border-radius: 0 0 0px 0px;
    padding-top: 0px !important;
}

.analysis_card .card-content {
    padding: 0px!important;
}

.card .card-content .row {
    margin-bottom: 0px !important;
}

.card.e_black {
    /*background-color: #414c54 !important;*/
    background-color: #050404 !important;
}

.card-content-content {
    display: none;
    /* margin-left: 10px; */
    background: #1b1818;
    padding-left: .3rem;
    padding-right: .3rem;
}

.active_chosen {
    height: 150px;
}


/* .card-title .material-icons.right {
    position: relative;
    top: 18px;
} */

.card-content .param_description {

    line-height: 1.1rem;
    color: #f79801;
    padding: 4px;
    padding-left: 0px;
    font-weight: 100;
    margin-top: 5px;

}

.sidenav .card.collapsible-header {
    /*background-color: #ffffff;*/
    /* min-height: 69px; */
    height: 4.5rem;
    /* background-color: #ffb307; */
    background-color: #ff9800;
    margin: 0 0;
    line-height: 0px !important;
    border-bottom: 1px solid #d68308;
}

.sidenav .taf_li .card.collapsible-header
{
    height: 6rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: #095897!important;
    border-radius: 0px!important;
    border: .5px solid gray;

}
.card .card-content .card-actions {
    margin-top: -6px;
}

.indicators_li .collapsible-body .layers_list .card .card-content .card-title,
.queryable_layers_list .collapsible-body .layers_list .card .card-content .card-title,
li.queryable_li.active>div.collapsible-body>ul>li>div.card .card-content .card-title {
    display: block;
    /* fix popup dimensions */
    /* line-height: 48px!important; */
    line-height: unset!important;
    /* padding: 14px; */
    padding: .6rem;
    padding-left: .3rem;
}

.indicators_li .collapsible-body .layers_list .card .card-content .card-title {
    padding: unset;

}

/* akp layer */
.indicators_li .collapsible-body .card-title.activator {
    padding: unset;

}
.card-stacked>.card-content .card-title {
    /* font-size: 18px !important; */
    color: white!important;
    font-size: 1.5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* energy needs layer */
.queryable_layers_list .collapsible-body .layers_list .card .card-content .card-title {
    padding: unset;
    padding-right: 17px;
    padding-left: 10px;
}

/* .analysis_layer.ghs_africa_250m_bigger_1_5 .card-title.activator i {
    top: unset;
} */


/* .queryable_layers_list li.analysis_layer


    {

    border-bottom: 1px solid chocolate;
} */


/* .queryable_layers_list li.analysis_layer, */


/* AKP LAYERS! */
.indicators_li .layers_list
{
margin-left: .3rem;
}
.layers_list li.main_layer {
    border-bottom: 1px solid #3a3636;
}

.main_layer .card .card-content {
    padding: 0px!important;
    color: white;
    margin-bottom: unset!important;
    /* margin-right: 8px; */
}

.queryable_layers_list .extra {
    color: #ccc;
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 1rem 0;

}

.queryable_layers_list .hc_btn_description .extra {
 padding:5px 5px;
}

.analysis_layer .hospitals .activator h6 {
    color: #f2ecec !important;
}

.sidenav .collapsible-body {
    border-bottom: 1px solid #d2c4c4;
    background-color: #050404 !important;
    /* background-color:#f3eded!important; */
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.analysis_description {
    padding: 5px 5px;
    line-height: 21px;
}

.analysis_description span {
    color: #009688;
}

input[type="range"]::-webkit-slider-thumb {
    width: 12px !important;
    height: 12px !important;
    margin-top: -4px !important;
    background-color: #24292e !important;
    background-image: -webkit-linear-gradient(top, #60676f 0, #60676f 100%) !important;
    background-image: -o-linear-gradient(top, #60676f 0, #60676f 100%) !important;
    background-image: linear-gradient(to bottom, #60676f 0, #60676f 100%) !important;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0) !important;
    filter: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #b9c3ce !important;
}

.keyboard-focused input[type="range"]:focus:not(.active)::-ms-thumb {
    box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

input[type="range"] {
    -webkit-appearance: none;
    /* margin: 20px 0; */
    margin: 1.5rem 0;
    width: 100%;
    border: 0px solid white !important;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #03a9f4;
    border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #03a9f4;
}

.range-wrap-container {
    display: none;
    line-height: 10px;
}

.range-wrap-container b
{
    color:gray;
    margin-left: 1rem;
}

.range-wrap-container>span {
    color: #d4ceb2;
    top: 20px;
    position: relative;
}

.range-wrap {
    width: 95%;
    position: relative;
    margin-top: .5rem;
    /*   top: -20px;*/
}

.range-value {
    position: absolute;
    top: -50%;
    display: none;
}

.range-value span {
    /* width: 22px; */
    width: 2.5rem;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #ee146a;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-58%, 0);
    border: 1px solid #ff9800;
    display: none;
    /* border-radius: 6px; */
    /* width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #03a9f4;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px; */
}

.range-value span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid #ee146a;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    /* margin-top: -1px; */
}


/*.range-wrap,*/


/* .material-icons.up_down */

i.opacity,
i.slide_layer
 {
    display: none;
}

.circles_g:hover {
    cursor: pointer;
}

.collapsible-body .card {
    position: relative;
    /* margin: 0.1rem 0 0.5rem 0; */
    margin: 0 0 0.1px 0;
    background-color: #2f3438;
    transition: box-shadow 0.25s;
    border-radius: 0px;
}

.table_analysis.container {
    width: 97% !important;
    margin-bottom: 10px;
}

.table_analysis .rows_container>.row {
    color: white !important;
    margin-bottom: 5px !important;
    background-color: black !important;
}

.ghs_africa_250m_bigger_2 .table_analysis .rows_container>.row {
    margin-bottom: 0px !important;
}

.ghs_africa_250m_bigger_2 .rows_container .col.s3 {
    text-align: center;
}

.ghs_africa_250m_bigger_2 .rows_container .col.s6 {
    text-align: left;
}

.table_analysis .rows_container .col {
    height: 40px !important;
    text-align: center;
}

.table_analysis svg {
    height: 40px !important;
}

.table_analysis .param_description {
    /*margin-left: 17px;*/
    font-size: 1rem;
    max-height: 80px;
    color: #ff9c0a;
}

.table_analysis .col.s4 {
    position: relative;
    top: 1px;
    font-size: 1.1rem;
    color: #eeebe2;
}

.jrc-logo {
    height: 10px;
}

.nav-wrapper {
    /* margin-left: 10px !important; */
    /* padding-right: 50px;
    height: 55px; */
}

nav ul.left>li>p
/* .app_title */

{
    font-size: 2.2rem;
    margin-top: -15px;
    /* color: white; */
    color: white;
    margin-left: 106px;
}

nav .brand-logo {
    position: relative !important;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    /* z-index: 99!important; */
    float: right;
}

nav ul.left img {
    width: 70px;
    /* height: 10px; */
    margin-top: 10px;
}

.jrc-logo {
    height: 10px;
}

body>nav>div>a>img {
    width: 72px;
    margin-right: 13px;
    margin-top: 13px;
}

.analysis_results {
    display: none;
}

.raster_legend_classif {
    position: relative;
    top: -25px;
}

.distance_raster_legend_classif,
.raster_legend_classif,

.nightlights_classif {
    color: #ddd4d4;
    display: none;
    font-weight: 100;
    font-size: .9rem;
}

.travel_legends_container {
    display: block;
    color: #ddd4d4;
    font-weight: 100;
    font-size: .9rem;
}

.travel_legends_container .col.s12,
.distance_raster_legend_classif .col.s12,
.raster_legend_classif .col.s12,
.nightlights_classif .col.s12 {
    padding-left: 0px !important;
}

.travel_legends_container span,
.ghs_africa_250m_bigger_2 .rows_container span,
.ghs_250m_bigger_than_2 .rows_container span,
.distance_raster_legend_classif span,
.raster_legend_classif span,
.nightlights_classif span {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 8px;
    top: 5px;
    position: relative;
}

.travel_legends_container span,
.distance_to_grid .distance_raster_legend_classif span,
.nightlights_classif span {
    border: 0.5px solid #9e9e9e;
}

.distance_raster_legend_classif span.text,
.raster_legend_classif span.text,
.nightlights_classif span.text {
    width: auto;
    height: auto;
}

.travel_legends_container .col,
.distance_raster_legend_classif.row .col,
.nightlights_classif.row .col {
    height: 2.3rem !important;
}

#menu form {
    /* display: inline; */
}

#menu form label {
    margin-right: 5px;
}

.print_and_layers_container .material-icons {
    /* font-size: 1.8vw !important; */
}

.table_analysis.container li {
    background-color: #81dfd7;
    border-bottom: 0.1px #26a69a solid;
}

.table_analysis .collapsible-header {
    background-color: #e7a646;
    color: white;
    font-size: 15px;
}

.analysis_layer .param_description {}

.queryable_layers_list .card-title.activator .col {
    padding: 0px !important;
}

.queryable_layers_list .card.e_black {
    /* padding-left: 10px; */
}

.queryable_layers_list .card.e_black>.card-content {
    /* top: 18px; */
}

.table_analysis li {
    display: none;
}

.distance-container {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #1b9a53;
    color: white;
    font-size: 1.3rem;
    left: 50%;
    /* line-height: 18px; */
    /* display: block; */
    margin: 9px;
    padding: 5px 10px;
}

.distance_tool.on {
    color: #1085ba;
}

.distance-container>* {
    color: #fff;
    font-size: 1.3rem;
    line-height: 18px;
    display: block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
}


/*only on hospitals, also distance ranges*/

.ranges_container {
    display: none;
    color: #dcdad0;
    font-weight: 100;
    font-size: .9rem;
    background: #534949;
    padding: .3rem;
    border: 1px solid gray;
    margin-right: 5px;
}

.chosen-container .chosen-results li {
    /* line-height: 25px; */
    font-size: 1rem;
}

.chosen-search {
    display: none;
}

.chosen-container {
    width: 100%!important;
}

.table_analysis .rows_container {
    background-color: black;
}

.params_select {
    width: 100%;
}

.d3_legend {
    width: auto;
    margin-top: 12px;
}

.row.ranges_container {
    top: -22px;
    position: relative;
    margin-top: 20px;
}


/*for the moment we hide it..*/

.tabs {
    display: block!important;
}

.tabs li.tab {
    border-right: 4px solid #da8405;
    background-color: black;
}

.tabs .tab a {
    padding: 0px!important;
    /*color:black!important;*/
    font-size: 0.8rem;
}

.sidenav .tabs .tab a.active {
    font-size: 1rem;
    background-color: #ff9800!important;
    color: white!important;
    font-weight: 100;
}

.tabs .tab:hover {
    cursor: pointer;
}

.global_analysis_table {
    color: white;
}

.tab.active {
    background-color: #ebb20a!important;
    color: white;
}


/* #adm_unit_polygon,
#global {
    margin: 9px;
}

#adm_unit_polygon,
.global_svg {
    color: #FF9800;
} */

.adm_unit_polygon_btn {

    font-size: 0.7rem;

}

.adm_unit_polygon_instructions {
    display: none;
    padding: 10px;
    line-height: 25px;
    padding: 10px;
    line-height: 25px;
    color: white;
    border: 1px solid #554b4b;
}

#adm_unit_polygon p {
    line-height: 28px!important;
}

.drawn_area {
    color: white;
}

#drawn_polygon {

}

#drawn_polygon,
#adm_unit_polygon,
#global {


    padding: 0px 5px;
    margin-top: 10px;
}

#drawn_polygon label,
#adm_unit_polygon label,
#global label {

}


/*no data div*/

.drawn_polygon_description div.no_layers_analysis {

}

.drawn_polygon_description {

    /* margin-top: 12px; */
    /* font-size: 0.9rem;
    line-height: 80px; */
}



.analysis_li .row .col {
    padding: 0px;
}

.table_analysis .collapsible-header:hover {
    background-color: rgb(225, 218, 10) !important;
    cursor: pointer;
}

.analysis_layer_result_title {
    font-size: 1.3rem;
    color: #FF9800;
    border-bottom: 1px solid darkred;
    line-height: 24px;
}

.analysis_layer_result {
    margin-left: 10px;
}

.table_analysis.container .badge {
    font-size: 1.2rem !important;
}

.table_analysis .row_header .col {
    height: 80px !important;
    color: white;
}

.analysis_li .collapsible-body {
    background-color: black !important;
}

.repeat_polygon {
    display: none;
}

.list.analysis_results {
    padding: 0px .15rem
}

.activate_dist_grid {
    color: white;
    display: none;
}

.activate_dist_grid:hover {
    cursor: pointer;
    color: rgba(29, 79, 228, 0.626);
}

.indicators_li>.card .card-content {
/*     padding: 5px !important; */
}

#slide-out {
    transform: translateX(1%) !important;
}

.sidenav .collapsible {
    border: 1px solid grey!important;
    margin-right: 5px;
}

.orange_purple_svg text {
    font-size: .8rem !important;
}

.area_popup .mapboxgl-popup-content {
    color: #d7144d;
    padding: 11px;
    font-size: 1.3rem !important;
    background-color: aliceblue;
}


/*.map_results_control_container .row.center .info_container{
    margin-bottom: 2px!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_info_container .row.center .info_container
{
display: flex;
    align-items: center;
    justify-content: center;
}*/

.map_results_control_container {

    overflow: hidden;

    min-width: 30vw;
    background-color: #020202!important;
    /*padding: 3px!important;*/
    border: 1px solid #434446;
    color: white;

    position: relative;
}

.mapboxgl-ctrl-bottom-right.with_table .map_results_control_container {
/*     max-height: unset!important;
    height: auto; */
    max-height: 100%;
}

.map_results_control_container a {
    margin-left: 2px;
}

.map_results_control_container .popup_actions,
.map_results_control_container .f_name {
    display: none;
}


/*#extra_info
{
    display: none;

    position: relative;
    font-size: 1.1rem;
        top: 410px;
}

#extra_info .collapsible-header
{
    font-size: 1.3rem;
    color: #f44336;
        background-color: #e1d9d9;
}
#extra_info .collapsible-body
{
    padding: 0rem!important
}
#extra_info span
{
     display: block;
        text-align: center;
        font-size: 1.4rem;
}*/

.collapsible .col span {
    color: white;
}

.collapsible .col span.counts {
    color: black;
}

#extra_info td,
#extra_info th {
    padding: 10px 5px!important;
}

body {
    overflow: hidden;
}



.materialize_form_radio p {
    margin: 8px;
}

.materialize_form_radio label {
 font-size: 1rem;
}

.materialize_form_radio .form-check
{
    margin-top: 1rem;
    margin-left: .3rem;
}

.materialize_form_radio [type="radio"]:not(:checked)+span:before,
.materialize_form_radio [type="radio"]:not(:checked)+span:after {
    border: 2px solid #FF9800;
    margin-top: 3px;
}


/*#extra_info .collapsible-body tbody span
        {
          color:white;
          display: block;
        }

#extra_info .collapsible-body tbody span.counts
        {
            color:black;
        }
*/

nav {
    /* height: auto!important; */
    /* line-height: 75px!important; */
    position: relative;
    /*position: sticky!important;*/
    /* min-height: 55px; */
}

.material-tooltip.instructions {
    background-color: rgb(17, 16, 16);
    color: white;
    /* border: 1px solid white; */
    font-size: 1rem;
}

.init_instructions {
    max-width: 100px;
}

.mapboxgl-popup-content .close_popup {
    top: -12px;
    position: absolute;
    right: -15px;

    border-radius: 50%;
    border: 1px solid #bdb6b3;
    background: #ff9800;
    color: black;
    font-size: 1.2rem!important;
}


/*.popup_info_container > .row
{
    border-bottom: 1px solid #FF9800;
}*/

.popup_info_container .s12.info_container span {
    bottom: 4px;
    position: absolute;
}

.popup_info_container .f_name {
    /* font-size: 1.2rem; */
    justify-content: center;
}
.popup_info_container > div.row{
    border-bottom: 1px solid #3e3d3b70;
    padding-top:5px;
}
.popup_col_f_name {
    justify-content: center;
    /*font-size: 1.1rem;*/
    color: #A7A6A4;
    /*margin-bottom: 12px;*/
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

.mapboxgl-ctrl-group {
    border-radius: 1px;
}

.mapboxgl-ctrl-group button:focus {
    box-shadow: none;
}


/* .mapboxgl-ctrl-group>.mapboxgl-ctrl-icon {
    width: 35px;
    top: 5px;
    height: 35px;
    position: relative;
    border-right: 0.5px solid grey;
} */

.mapboxgl-ctrl-group>.mapboxgl-ctrl-icon {
    border-right: 0.5px solid grey;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-fullscreen {
    border: unset!important;
    left: 10%;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass,
.mapboxgl-ctrl-icon.distance_tool {
    border: none;
}

.mapboxgl-ctrl-group>button+button {
    border-top: none!important;
}

.mapboxgl-ctrl-group>.mapboxgl-ctrl-icon>button {
    width: 35px !important;
    height: 35px !important;
    /* border-radius: 2px !important; */
}

.mapboxgl-ctrl-compass-arrow {
    margin: 0.1em 2px !important;
}

.mapboxgl-ctrl-top-right {
    display: inline-flex;
}

.mapboxgl-ctrl-bottom-right {
    /* margin-bottom: 50px;
    bottom: 80px!important; */
    /*width: 20px;*/
    /* color: blue; */
    /* width: 12%!important; */
    /* width: 10px; */
    /* margin: 80px!important; */
}

.popup_actions span:hover {
    cursor: pointer;
}

.popup_actions {
    margin-top: 5px;
    font-size: 0.7rem;
    color: #ffc107;
}

.popup_actions span {
    width: 100%;
    display: block;

}

.popup_actions .do_popup_sticky {
    display: none;
}

.sticky_content .collapsible-header {
    color: black!important;
}

.more:hover,
.unhcr_div .actions>span:hover
 {
    cursor: pointer;
}

.more,
.unhcr_div .actions>span {
    font-size: 0.9em;
    margin-top: 10px;
    color: #03A9F4;
}
.unhcr_div .actions>span {
color: #03a9f4b8;
}
.unhcr_div
{

        margin-top: 1.5rem;
        margin-bottom: 1rem;
        margin-right: 5px;
        outline: 1px solid gray;
        padding: 5px;
        background: #000000fa;

}

.unhcr_div .form-check label
{
    height: 1.5rem;
    margin-top: .5rem;
}

.unhcr_div .actions .download
{
    /* margin-left: 2rem; */
}

.queryable_layers_list .extra {
    display: none;
}

.hc_btn_description .extra {
    display: block;
}

.ghs_africa_250m_bigger_2 .more {
    margin-left: 0px;
}

.extended_description {
    display: none;
}

.extended_description_html .table_references span {
    display: block;
}

.analysis_layer.ghs_africa_250m_bigger_2 {}

.extended_description_html,
.extended_description {
    font-size: 1rem!important;
    color: #ccc;
    font-weight: 100;
    line-height: 1.5rem;

    padding: 2px 5px;
    margin-right: 2px;
}

.extended_description_html {

    padding: 3px;
}

.extended_description_html a {
    color: gold!important;
    padding: unset!important
}

.extended_description_html .reference {
    display: block;
    font-style: italic;
    color: goldenrod;
    margin-top: 5px;
}

.extended_description_html.on {
    background: #fb9801;
    color: white;
}

.extended_description {
    border: 1px solid #666;
    line-height: 1.5rem;
}



.analysis_layer.ghs_africa_250m_bigger_2 .extended_description {
    font-size: 0.9rem!important;
}

.extended_description li {
    line-height: 80px;
}

.extended_description_html table {
    border-bottom: 1px solid #ccc9c4;
    font-size: .9rem;
    font-weight: 100;
}

.extended_description_html table th
{
    color:#FF9800;
}
.extended_description_html table td,
.extended_description_html table th
{
 text-align: left;
}
.extended_description_html table thead {
    color: #FF9800
}

.extended_description .table_references {
    margin-bottom: 0px !important;
    margin-top: 5px;
    /* margin-left: 10px; */
    font-size: 0.95rem;

    line-height: 1.3rem;
    font-weight: 100;
}

.extended_description.pv_kw_h .table_references,
.extended_description.lcoe_h .table_references {
    margin-left: 0px;
}

.nav-wrapper .right li a {
    display: block!important;
    position: relative;
    top: 5px;
}


/* disabling hover effects on buttons */

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.nav_wrapper_tooltip {
    /* font-size: 1.1rem;
        background-color:#e6b618;
    */
    padding: 3px
}

.indicators_li .collapsible-body{
     display: none;
}

.africa_platform_trigger i {
    position: relative;
    top: -8px;
}

.layers_list .card-title.activator {
    /* margin-left: 10px; */
    margin-bottom: 0px!important;
    padding: .5rem .2rem!important;
}

.initial_modal_title {
    font-size: 2rem;
}

.initial_modal_description {
    line-height: 40px;
    font-size: 1.4rem;
}

.modal-trigger-old {
    top: -2px!important;
}

nav .sidenav-trigger {
    margin: 0px!important;
}

.ghs_counts span {
    padding: 3px;
    display: block;
    margin-left: 10%;
}

.extended_description_html.pv_kw_h .table_references span {
    display: block;
}

.analysis_on {
    border: 2px solid #FF5722;
}

.indicators_li .range-wrap {
    display: none;
}

.analysis_container .analysis_div_tools {
    position: absolute;
    right: 20px;
    color: white;
}


/* .d3_legend .col.s4.mouseovered::after
{

    content: '';
  display: block;
  position: absolute;

  right: 15px;
  width: 100%;
  height: 100%;


  pointer-events: none;

    border-right: 1px solid #ffc107;
} */


/* .d3_legend .col.s4
{
     border-right: 1px solid #ffc107;
} */


/* last changes still not in africa ninja! */

.title_attr>span {
    display: block;
}

.download {
    display: none;
}

.downloads_container .select-dropdown.dropdown-trigger {
    max-height: 20px!important;
    border: 1px solid #9d9d9d70;
    background-color: #ff9800;
    color: white;
    border-left: none;
    border-right: none;
    top: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    width: 93%;
}

.downloads_container ul {
    max-height: 60vh;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #26a69a;
    display: block;
    line-height: 35px;
    height: -5px;
    padding-left: 10px;
    padding-bottom: 0px;
    border-bottom: unset;
    font-size: 1rem!important;
}

.downloads_container>.row {

    font-size: .9rem;

    color: #e0dcdc;
    line-height: 1.7rem;
font-weight: 100;
    padding-bottom: 4px;
}
.downloads_container .select-wrapper
{
    margin-top: .7rem;
}
.dropdown-content.select-dropdown li {
    min-height: 35px!important;
    max-height: 35px!important;
}

.row.downloads_container {
    display: none;
    margin-right: 5px!important;
    padding: 5px;

    background: #1a1818;
    border:1px solid gray;
}
.download_btn:hover {
    cursor: pointer;
    background: #f0a41a;
      color: #290202;
    }


    .download_btn {
        display: none;
        text-align: center;
        padding: .2rem;
        background: #f0a41a94;
        margin-right: .5rem;
    }

.notype {
    position: relative;
    display: inline-block;
    /* margin-left: 50px; */
    /* top: 7px; */
    top:1px;
}

.color-preview {
    display: none!important;
}

.fcolorpicker .color-item {
    flex: 0 1rem!important;
    cursor: pointer;
    /* width: 25px; */
    height: 1rem!important;
}

.fcolorpicker-curbox {
    width: 1rem!important;
    height: 1rem!important;
    border:2px solid #ff9800;
}

.fcolorpicker .opacity {
    display: none;
}
.indicators_li .col-3.align-items-center {
/* icons slightly below */
position: relative;
top:3px;
}
.afr_layer_title {

    font-size: 1rem;
    font-weight: 100;
    margin: .7666666667rem 0 .46rem 0;
}

/* akp layers */
.indicators_li .card .card-content
{
    min-height: unset;
    height: auto;
}
.show_hide_nea_hc .btn-small {
    font-size: 0.8rem;
    margin-right: 5%;
    background-color: #767474;
    width: 100%;
    padding: 5px;
    padding-top: unset;
}

.show_hide_nea_hc .show_hide_inside,
.show_hide_nea_hc .show_hide_outside {
    background-color: #767474;
    font-weight: 100;
    color:white!important;
    border: 1px solid gray;
	padding: 5px;
}
.show_hide_nea_hc .show_hide_inside:hover,
.show_hide_nea_hc .show_hide_outside:hover {

    cursor: pointer;
}

.show_hide_nea_hc .show_hide_inside.on,
.show_hide_nea_hc .show_hide_outside.on {
    background-color: #f3a107!important;


}

.show_hide_nea_hc .btn.rec.btn-small {
    font-size: 0.8rem;
    width: 100%;
    /* height: 80px; */

    /* margin: 0; */
    vertical-align: middle;

    background: none!important;
    font-weight: 100;
    /* padding: 5px; */
    vertical-align: center;
    padding: 1px;
    /* text-align: center; */
}

.show_hide_nea_hc {
    margin-top: 10px;
}

.small_txt {
    font-size: .9rem;
    padding-top: 5px;
    line-height: 1.1rem;

}
.card-content-content> .small_txt
{
    display: inline-block;


}
.card-content-content> .small_txt b
{
    color:#f79801;
    max-width: 30%;
    font-size: 1rem;
}
.small_txt.show_hide_all:hover {
    cursor: pointer;
}

span.title_text::after {
    /* content: 'Beta'; */
    color: rgba(255, 0, 0, 0.74);
    font-size: 1rem;
    margin-left: 10px;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #43404080!important;
}

table.striped>tbody {
    font-weight: 100;
    color: #ddd;
}

.downloads_container {
    margin-top: 10px!important;
}

.downloads_container .btn-small:hover {
    cursor: pointer;
    background-color: #ff5722;
}

.downloads_container .btn-small {
    font-size: .4rem;
    background-color: #e48e0e!important;
    margin-right: 10px;
    border: 1px solid #eae1e1;
}




.hc_btn_description {
    border: 1px solid #585151;

    padding-bottom: 5px;
    margin-top: 10px;
    display: none;
}

.after_analysis_popup_html .switch.only_inside_pol_data {
    display: none;
}

.after_analysis_popup_html .population,.after_analysis_popup_html .health_centres
{


    padding-bottom:0px;
        border-bottom: 1px solid rgb(94, 92, 92);
        border-top: 1px solid rgb(94, 92, 92);
        margin-left: 0px;

}

.show_hide_all:hover {
    cursor: pointer;
}

.show_hide_all {
    color: #ff9800;
}

.ceat_nav .sidenav-trigger2-container ul li {
    float: right!important;
}

.draw_rec_custom.on {
    background: #fddc00;
}

.gradient {
    height: 15px;
    width: 85%;

    transform: translateY(30%);

    /* margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.map_legend_container .gradient {
    height: 13px;
    width: 100%;
    display: inline-block;
	margin-bottom:.8rem;
    /* transform: translateY(36%);
    margin-right: 20px; */
}

.analysis_container .gradient {
    width: 25%;
}

svg.diamond,
svg.star,
svg.square {
    height: auto;
    width: auto;
    display: none;
}

svg.diamond path,
svg.star path,
svg.square path {
    /* the .marker and svg is 70px
    g is 21px */
    opacity: .9;
    transform: translate(34px, 34px);
    /* stroke: #f5fc17;
    stroke-width: 1; */
}

.marker,
.marker.refugee_camps {
    display: block;
    border: none;
    /* border-radius: 50%; */
    cursor: pointer;
    padding: 0;
    width: 120px;
    height: 120px;
    /* background: url(bleach.svg);
    background-size: 40px 80px; */
}

svg.triangle,
svg.diamond,
svg.cross,
svg.star,
svg.square {
    height: 120px;
    width: 120px;
    display: none;
}

.triangle g,
.diamond g,
.cross g,
svg.star g,
svg.square g {
    /* width: 80px; */
}


/* .diamond g{
    transform: translate(9px, 9px);
} */

.triangle path,
.cross path,
.diamond path,
.star path,
.square path {
    /* stroke: #e7f6f6;
    stroke-width: 0.6; */
    /* stroke: rgb(60 7 161);
    stroke-width: 0.3; */
    /* stroke: white;
    stroke-width: 0.5; */
    transform: translate(9px, 9px);
}

.circles_svg {
    display: none;
}

span.badge.new {
    /* font-size: 1rem!important; */
    color: white!important;
}

.analysis_tool_container {
 padding: .5rem;
 font-weight: 100;
}

a.chosen-single,
a.chosen-single:hover {
    /* color: black!important; */
    /* padding-left: 10px!important; */
}

.card-content select option {
 
    padding: 5px 3px;
}

.chosen-container .chosen-results li.highlighted {
    background: #e99515e0!important;
}

.chosen-container li {
    height: 40px!important;
}

.chosen-container .chosen-results {
    padding: 0px!important;
    margin: 0px!important;
    max-height: 60vh;
}

.chosen-container {
    width: 92%!important;
}

.chosen-container-single .chosen-single {
    /* height: 45px!important; */
    height: 32px!important;
    border-radius: unset!important;
    background-image: unset!important;
    background: #736d6d!important;
    color: white!important;

}

.chosen-container-single .chosen-single {
    line-height: 12px;
    font-size: .8rem;
}

.chosen-single span {
    transform: translateY(39%);
}

.chosen-container-single .chosen-single div {
    top: 28%;
    right: -5px;
    width: 25px;
    height: 100%;
}

.popup_info_container {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%!important;
}

.lscGradient {
    height: 10px;
    background-image: -webkit-linear-gradient(right, #c15d38, #fdfebf 50%, #7bba5f 100%)!important;
}

.BUILTUPGradient {
    height: 10px;
    background-image: -webkit-linear-gradient(right, #980043, #d7b5d8 50%, #ffffff 100%)!important;
}

.baselayers_switcher_symbol {
    display: none;
    color: white;
    font-size: 1.4rem;
}

.test {
    color: red!important;
}

label {
    color: #d6d1d1;
    font-weight: 100;
    height: 1rem!important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 15px;
    height: 15px;
    /* border: 2px solid #26a69a; */
    background-color: #cd8b27;
    z-index: 0;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 15px;
    line-height: 15px;
    width: 15px;
}

[type="checkbox"]+span:not(.lever) {
    position: relative;
    /* margin-left: 15px; */
    height: 15px;
    line-height: 15px;
}

#menu [type="checkbox"]+span:not(.lever) {
    font-size: 1.1em;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: -2px;
    left: 1px;
    width: 5px;
    height: 10px;
}

.selected [type="checkbox"]+span:not(.lever) {
    color: white;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    opacity: 0;
    /* border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; */
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: unset;
}

.btn,
.btn-large,
.btn-small {
    background-color: #f1a73a94;
}

.btn,
.btn-large,
.btn-small,
a:hover {
    transition: none!important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    cursor: pointer;
    transition: 0.7s;
    color: white!important;
    background: #cd7227;
    font-weight: 500;
}


/* to replace in prod */

.analysis_hover_info {
    text-align: center;
}

.analysis_hover_info h6 {
    margin-top: 0px;
}

.analysis_hover_info {
    display: none;
    position: absolute;
    top: 20px;
    color: white;
    padding: 7px;
    background-color: black;
    z-index: 3333;
    left: 44vw;
    text-transform: uppercase;
    border: 2px solid #ff9800;
    text-align: center;
}

.analysis_hover_info .value {
    font-size: 1.2rem;
    color: white;
    /* font-weight: bold; */
}

.analysis_hover_info .elem,
.analysis_hover_info .elem2 {
    /* ex:'Off-grid hospitals'
    position 2 of 3
    */
    display: block;
    font-size: 0.8rem;
    color: white;
}

.analysis_hover_info .elem2 {
    font-size: 0.6rem;
}

.animated-icon {
    /* display: none; */
    width: 30px;
    height: 30px;
    background-color: rgba(186, 212, 224, 0.87);
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid white;
    opacity: 1;
    /* box-shadow: 0px 0px 4px white;
    transition: background 1s linear;
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear; */
    /* transition: all 1s; */
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.inner_circle {
    display: block;
    text-align: center;
    font-size: 8px;
    line-height: 20px;
    font-weight: 400;
}

.explore_countries_menu {
    max-width: 20vw;
    overflow: auto;
    max-height: 85%;
}

.explore_countries_menu .chosen-container {
    width: 100%!important;
}

.explore_countries_menu.active {
    min-height: 75vh;
}

.explore_countries_menu {
    color: #fff8f8;
}

.explore_countries_menu .title {
    font-weight: 100;
    padding: .2rem;
    padding-left: 5px;
    text-align: left;
    padding: 0.5rem 0;
    line-height: 1rem;

}

.set_explore_country {
    display: none;
}

.explore_countries_menu .country_title {
    padding-left: 0px!important;
    margin-top: 5px;
    font-size: 1.2rem;
    color: orange;
    text-transform: uppercase;
}


/* .explore_countries_menu .country_title::after {
    font-family: 'Material Icons';
    content: "link";
    -webkit-font-feature-settings: 'liga';
} */

.explore_countries_menu .counts {
    font-size: 1rem;
    padding: 0.6rem;
    color: orange;
    padding: 0.2rem 0.5rem;
    text-align: right;
}

.explore_countries_menu .position {
    color: white;
    font-size: .8rem;
    padding: 0.5rem 0;
    text-align: right;
}

.explore_countries_menu .position span {
    font-size: .8rem;
    color: gold;
}

.explore_countries_menu i.country_ranking {
    font-size: 1rem;

    vertical-align: bottom!important;
    margin-bottom: 0.3rem;
}

.explore_countries_menu i.country_ranking:hover {
    cursor: pointer;
}

.explore_countries_menu i.country_ranking.active {
    color: gold;
}

.extend_stats:hover {
    cursor: pointer;
}

.extend_stats {
    margin-left: 5px;
    color: gold;
    font-size: 60%;
}

.explore_countries_menu .country_title_icon_container {
    /* same font-size than country_title, so height will be equal */
    font-size: 1.2rem;
}

.explore_countries_menu .country_data>.row {
    margin-bottom: 2px;
}

#stats_modal .modal-content {
    background-color: black;
}

#stats_modal .main_dataTables_wrapper {
    font-size: unset;
}

.explore_countries_menu .focus_container,
.explore_countries_menu .extend_stats {
    display: none;
}

#stats_modal .change_sort_param {
    font-size: 0.7rem;
    color: #2196f3;
    margin-left: 5px;
}

#stats_modal .change_sort_param:hover {
    cursor: pointer;
}

#stats_modal .change_sort_param_tool {

}

#stats_modal .sort_asc_desc,
#stats_modal .sort_param {
    border-bottom: 2px solid #2196F3;
}

.explore_countries_menu .set_explore_country_description {
    color: white;
    padding: 7px;
    font-size: .8rem;
    background: #443d3d;
}

.svg_opacity_container {
    display: none;
}

.svg_opacity_container .hover-val {
    margin-left: 5px;
    color: #cd7227;
    font-size: 1rem;
}

.explore_countries_menu .chosen-container .chosen-results {
    max-height: 50vh;
}

.highcharts_all .highcharts {
    /* width: 250px;
    height: 150px; */
    width: 99%;
    /* height: 250px; */
    margin-right: 10px;
    display: inline-block;
}

.highcharts_all .highcharts text {
    /* font-size: .6rem; */
}

/* .highcharts-legend, */
.highcharts-credits {
    display: none;
}
.analysis_layer.hospitals .a2ei_div
{
    margin-bottom: 10px;
    margin-top: 8px;
}

.analysis_layer.hospitals .a2ei_div label{
    font-size: 1rem;
    line-height: 1.6rem;
}
.a2ei_radio form span {
    padding-left: 1.7rem!important;
}

.a2ei_radio {
    border: 1px solid green;
}

.a2ei_radio form p {
    display: inline;
    /* font-family: sans-serif!important; */
    font-size: .8rem;
    color: #cd7227;
    font-weight: 100;
}

.highcharts-root {
    font-family: 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial;
    /* sans-serif!important; */
}

.highcharts text {
    font-family: 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial;
    /* sans-serif!important; */
    color: white!important;
    fill: white!important;
}
.highcharts-tooltip path {
    fill: black!important;
}

.a2ei_div [type="checkbox"]+span:not(.lever):before,
.a2ei_div [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    width: 1rem;
    height: 1rem;
    margin-top: 0px;
}

.feature_map_popup.with_a2ei_info {
    /* max-height: 40vw;
    min-height: 40vw;
    */
    min-width: 50vw;

}

/* .feature_map_popup.with_a2ei_info .a2ei  */
.popup_info_container_all
{
    max-height: 45vh;
    /* min-height: 40vw; */
    overflow-y: auto;
    overflow-y: auto;
}

g.points_container circle {
    opacity: .6;
}

g.points_container.inactive circle {
    opacity: 0;
}

 .a2ei_div .param_extended {
    color: #ede7e7;
    font-size: .9rem;
    display: none;
font-weight: 100;
border:1px solid #585151;

    line-height: 19px;
    margin-bottom: 5px;
    display: block;
    margin-top:1rem;
    padding:.2rem;

}
.param_extended img
{
    width: 10rem;
    height: 3rem;
    background: white;
    padding: 10px;
}
.a2ei_div .param_extended a {
    color: 01a9f4;
    padding: 0px;
}

.a2ei_div .param_extended.activated {
    display: block;
}


.a2ei_div .extend_a2ei_info {
    text-decoration: underline;
    cursor: pointer;
    color: orange;
    display: block;
    font-size: .9rem;
    margin-left: 14%;
    line-height: 10px;
    margin-bottom: 5px;
}
.show_hide_nea_hc .col.s6
{
    padding: 1px!important;
}

.param_extended span
{
    display: block;

}

.a2ei_chart_description {
    font-size: .9rem;
    margin-bottom: 10px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a2ei_chart_description > div
{
    width: 70%;
    display: none;
}
.a2ei_chart_description > div.withoutChart
{
    font-size: 1.3rem;
}
.sidenav .collapsible-body li a, .sidenav.fixed .collapsible-body li a {
    padding: unset!important;
}
.appliances_style
{
    text-align: center;
    font-size: 1.2rem;
    color: #ff9800;
}

.taf_container .card-container
{
    height:auto;
    /* max-height: 1.7rem; */
}

.taf_container .card .card-container .card-title,
.taf_container .card .card-container .layer_counts
{
    height: .8rem!important;

}
#taf_modal .modal-content
{
    background: black;
    /* padding: 24px; */
    /* display: flex; */
    /* overflow-x: hidden; */
    /* justify-content: center; */
    /* width: 100%; */
}

#taf_modal .dataTables_wrapper
{
    margin:unset;
    /* overflow-y: scroll; */
    /* max-height: 500px; */
    /* overflow-x: visible; */
    /* width: 100%; */
}
.taf_hydrogen_grouped .asTable
{
    text-decoration: underline;
    color:blanchedalmond;
}
.taf_hydrogen_grouped .asTable:hover{
    cursor: pointer;
}

.taf_geotermal_ungrouped .description_extra,
.taf_solar .description_extra
{
    display: block;
    color: #ffffffb5;

    padding-top: 7px;
    line-height: 1.3rem;

}
.taf_bess .legend .row:hover
{
    cursor: pointer;
}
.taf_bess .legend .row
{
    display:flex;
    line-height: 1.2rem;
    justify-content:flex-start;
    align-items:center;
    color:white;
    font-size:.8rem;
    padding:5px 0px;
    border-bottom: 1px solid gray;
}


.taf_bess .legend .row  .symbol
{

  min-width:.8rem;
  width:.8rem;
  height:.8rem;
  margin-right:.8rem;
  border-radius:50%;
  outline:1px solid white;
  margin-left: 3px;

}

.taf_bess .legend .row.off
{
    opacity: .3;
}
.taf_hydrogen_grouped .card-content .param_description
{
    color:ffffffb5!important;
    font-style: unset;

}
.taf_desription
{
color: white;
    font-weight: 100;
    font-size: 1rem;
    padding: .4rem;
    border: 1px solid gray;
    margin: 5px 5px;
}
.mapboxgl-popup .col.s7.info_container,.mapboxgl-popup .col.popup_col_f_name,
.mapboxgl-popup .col.info_container
{
    overflow-wrap: anywhere;
}
.mapboxgl-popup.taf_geotermal_ungrouped .popup_col_f_name
{
    /* font-size: .8rem; */
}
.mapboxgl-popup.taf_geotermal_ungrouped
{
    /* min-width: 25vw; */
}

a,a:hover
{
    color:#039be5;
}
.chosen-container-single .chosen-single span
{
height: 27px;
/* background: red; */


font-size: .9rem;
padding-left: 5px;
}
.mapboxgl-popup .f_name
{
    font-size: 1.3rem;
}

.popup_info_container_a2ei table
{
    width: 75%;
     font-size: 1rem;
}
.popup_info_container_a2ei table td,
.popup_info_container_a2ei table th
{
    max-height: 20px;
    border-color: #9E9E9E;
    padding: 8px;
    background-color: black;
    font-weight: 100;
    text-align: left;
}
.popup_info_container_a2ei table th
{
    color:#ff9800!important;

}
.print_and_layers_container i
{
    font-size: 1.5rem;
}
.print_and_layers_container .btn
{

    border-radius: 0px;
    color: white;
    border:.5px solid #635c5c;
    height: 100%;
}
.ceat_body .btn,.ceat_body .card
{
    border-radius: 0px;

}
body.ceat_body
{
    font-weight: 100!important;
}
nav, nav i {
    color: #fff;
    background-color: unset;

    height: unset!important;
    line-height: unset!important;
}

:root,[data-bs-theme=light],
:root,[data-bs-theme=dark] {
    --bs-body-color: white!important;
}

.tab-content .tab-pane
{
    /* padding-left: .5rem; */
}
.form-select
{
    color:black!important;
    background-color: white;
    height: 2.5rem;
    font-size: 1rem;
}
.from_all_admin_simple_analysis .datatable_legend .form-select {
    color: black!important;
    background-color: white;
    height: 23px;
    font-size: .85rem!important;
}

span.badge
{
    color:white;
    font-weight: 100;
    background-color: rebeccapurple!important;
}
.a2ei {
    overflow-x: hidden;
}

i.a2ei_chart
{
    display: none!important;
}
.country_data .title
{
    font-size: 1rem!important;
}
.info_panels_button >div:hover
{
    cursor: pointer;
}
.info_panels_button >div
{
    text-decoration: underline;
    text-decoration-color: #ff9800;

}

.info_panels_button >div span
{
    text-decoration:none;
}
.ceat_body .modal-header
{
    background: black!important;
}

.ceat_body #taf_modal.modal
{
    /* overflow-y: hidden!important; */
}
.modal-overlay
{
    opacity: 1!important;
}
.test_centered
{
    position: relative;
    top: 50%;
    left: 50%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* min-width: 200px; */
    max-width: 50px;
    z-index: 9999;
}
.test_centered .busy-load-container-item
{
    color: #f7f7f7!important;
    opacity: .9;
    background-color: #333333!important;
    padding: 10px!important;
    /* border: 2px solid tomato!important; */
}
.test_centered .spinner-accordion>div
{
    color:white!important;
}

.test_centered_toast
{
    position: absolute;
    opacity:0;
  top: 0%;
  transform: translateX(-50%);
left:50%;
    z-index: 9999;
    background-color: #000000;
    padding: 10px!important;
    border:1px solid #FF9800;
    color: #f7f7f7;



   font-size: 1.1rem;
    z-index: 9999;
}

.test_centered_toast .highlighted
{
    text-decoration: underline;
    text-decoration-color: goldenrod;
    font-size: 1.1rem;
}

.test_centered_toast small
{
    display: block;
    font-size: .8rem;
}


.more:hover,
.unhcr_div .actions>span:hover
 {
    cursor: pointer;
}

.more,
.unhcr_div .actions>span {
    font-size: 0.9em;
    margin-top: 10px;
    color: #03A9F4;
}
.unhcr_div .actions>span {
color: #03a9f4b8;
}
.unhcr_div
{

        margin-top: 1.5rem;
        margin-bottom: 1rem;
        margin-right: 5px;
        outline: 1px solid gray;
        padding: 5px;
        background: #000000fa;

}

.unhcr_div .actions .download
{
    /* margin-left: 2rem; */
}



.unhcr_div .legend {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    /* grid-gap: 10px; */
}

.unhcr_div .legend .legend_content.single
{
    grid-template-columns: repeat(1, 1fr);
}


.unhcr_div .legend .legend_content.single>div
{
        grid-template-columns: .5fr 8fr;

            display: grid;
            /* grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)); */
            grid-template-columns: repeat(2, minmax(15px, auto));
            grid-auto-rows: auto;
            justify-content: left;
            align-items: center;
            font-size: 1rem;
            grid-column-gap: 5px;
            /* outline: 1px solid gray; */


}

.d3_legend
{
    /* display: none!important; */
}
.d3_legend.active
{
    display: block!important;
}
.travel_legends_container
{
    display: block;
}
.travel_legends_container.off
{
    display: none;
}
.time_travel_form_radio input,
.time_travel_form_radio [type="radio"]:checked+span,
.time_travel_form_radio p
{
    color:orange;
/*     height: 40px!important; */
}
.time_travel_form_radio p
{
    /* margin-bottom: 10px; */
}

/* bootstrap one */
.form-check.time_travel_form_radio
{

    padding-left: .1em;
}
.form-check.time_travel_form_radio input
{
    position: unset;
    opacity: unset;
    pointer-events: unset;
    margin-right: 5px;
}

.sidenav li.analysis_layer .form-check label
{
    line-height: unset;
    font-size: 1rem;
}

.unhcr_div .general_info_layer {
    /* display: none; */
    margin-right: 3px;
    /* padding: .5rem; */
    /* margin-top: 4px; */
    color: #ccc;
    line-height: 1.3rem;
    font-size: 1rem;
    /* margin-bottom: 10px; */
}
.general_layer_info_more:hover
{
    cursor: pointer;
}
.unhcr_div form
{
   margin-bottom: 0px;
}
.unhcr_div .extended_description
{

    font-size: 1rem;

}
.unhcr_div .d3_legend
{
    display: none!important;
}
.unhcr_div .d3_legend.active
{
    display: block!important;
}
.unhcr_div .extended_description li
{
    line-height: 1.5rem;
    margin-bottom: 1rem;

}
.show_hide_labels
{
    /* font-size: .8rem; */

}

#map .mapboxgl-control-container .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
    display: none!important;
}

span.loc_subtyp_header
{
    text-decoration: underline;
    text-decoration-color: orange;

}


.datatable_legend .list-group-item,
.list_stats_container .list-group-item
{
    background-color: #1a1818;
    margin: .1rem !important;
    padding: 0px !important;
    padding: .1rem !important;
    border: 0px;
}
.list_stats_container
{
    display: none;

    padding-right: .5rem;

}
.list_stats_container ul.list-group
{
    max-height: 330px;
    overflow: scroll;
    scrollbar-width: thin; /* For Firefox */
    outline: 1px solid #4e4545;
    padding-left: .2rem;

}

/* For WebKit browsers (Chrome, Edge, Safari) */
.list_stats_container ul.list-group::-webkit-scrollbar {
    width: 8px; /* Width of vertical scrollbar */
    height: 8px; /* Height of horizontal scrollbar */
    -webkit-appearance: none;
}


.list_stats_container ul.list-group::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb (the draggable part) */
    border-radius: 4px; /* Rounded corners */
    -webkit-box-shadow: 0 0 1px rgb(243, 123, 4);
}

.list_stats_container ul.list-group::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Scrollbar track (background) */
}

.list_stats_container ul li .col-8
{
    text-overflow: ellipsis;
}

.list_stats_container .list-group-item:nth-child(odd) {
    background-color: #80808047;
}
.list_stats_country
{
    margin-left: 1rem;
}
.list_stats_country.active
{
    color: orange;
}


.list_stats_container_title
{
    font-size: 1rem;
    text-align: center;
    color:rgba(255, 166, 0, 0.727)
}

select.form-select
{
    display: block!important;
}
.form-check input[type="radio"],
.form-check input[type="checkbox"]
.form-check [type="checkbox"]:not(:checked),
.form-check [type="checkbox"]:checked
{
    pointer-events: all!important;
    opacity: 1;


}
.asc_desc_selection
{
    margin-left: .6rem;
    margin-top: -0.3rem;
}
.a2ei_div label
{
    line-height: 1.2rem!important;
}

.sidenav .card-title.activator .card-title {
    background-color: black!important; /* Original color */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.sidenav .card-title.activator:hover {
    background-color: #3f3c3c!important; /* Hover color */
    transition-delay: 0s; /* No delay for mouseover */
}

/* Add a delay when transitioning back to the original color */
.sidenav .card-title.activator:not(:hover) {
    transition: background-color 0.1s ease .1s; /* 2-second delay for returning */
}
.a2ei_div .form-check
{
    padding-left: 2rem;
}
.a2ei_div .form-check:hover
{
    cursor: pointer;
    background-color: rgb(16 82 113);
}

.form-check input:checked {
    background-color: #fdc10d;
    border-color: #fd650d;
}
i.bi.bi-bar-chart-line-fill::after {
    content: 'Get statistics';
    font-size: .65rem;
    text-anchor: end;
    margin-left: .5rem;
    font-style: normal;
    text-transform: lowercase;
}


.analysis_container  i.to_stats_modal.bi.bi-bar-chart-line-fill::after {

content: unset;
}



i.country_ranking.bi.bi-bar-chart-line-fill:hover
{
    background-color: rgb(255, 149, 0);
}
i.country_ranking.bi.bi-bar-chart-line-fill::after {
content:'Statistics over all countries';

    padding: .1rem;
}
.test_centered_toast.main
{
    font-size: 1.5rem;
}
.test_centered_toast.main span
{
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}
.list_stats_container .list_stats_container_title::after {
	content: 'close';
	position: absolute;
	margin-left: 3rem;
	font-size: .7rem;
	transform: translateY(7%);
	color: white;
	cursor: pointer;

	/* right: 0; */
}


.form-check .form-check-input
{
    opacity: 1!important;
    border-radius: unset!important;
    pointer-events: all!important;
    background: white;
   /*  width: 1.1em;
    height: 1.1em;
    margin-top: .6rem; */
}
/* .print_and_layers_container .btn i::before
{


    margin-top: 3px!important;
}

.print_and_layers_container .intro_modal_btn
{
    line-height: 2rem;
} */
#stats_modal .stats_modal_tables .nav .nav-link
{
font-size: 1.1rem;
    color: white!important;
    background: #2c2821;
    border-radius: 0;
    margin-right: 3px;
}
#stats_modal .stats_modal_tables .nav .nav_tabs
{
    border:.5px solid gray
}
#stats_modal .stats_modal_tables .nav .nav-link.active {

    background-color: #FF9800;

}

.stats_modal_tables .nav.nav-tabs
{
    border-bottom:1px solid gray!important;
    margin-bottom: 1rem;
}
.form-check
{
    /* background-color: orange; */
}

.sidenav .collapsible-header, .sidenav.fixed .collapsible-header
{
    padding: 0 .5rem!important;
}

#map .mapboxgl-ctrl-group > button
{
    width:3rem;
    height: 100%;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.material-tooltip
{
 background-color: black!important;
 color:white!important;
 border:1px solid gray;
}

.sidenav i.bi
{
    transition: color 0.3s ease; /* Smooth transition */
}
.sidenav i.bi:hover
{
    cursor: pointer;
    color:#ff9800;
    transition-delay: 0.2s; /* No delay for mouseover */
}
.sidenav i.bi:not(:hover)
{
    transition: background-color 0.1s ease .1s; /* 2-second delay for returning */
}
#map .mapboxgl-ctrl-group > button:hover

{
    background-color: #ff9800;
    transition-delay: 0.2s; /* No delay for mouseover */

}
#map .mapboxgl-ctrl-group > button:not(:hover),
i.bi:not(:hover) {
    transition: background-color 0.1s ease .1s; /* 2-second delay for returning */
}
.mapboxgl-popup-content
{
    width: fit-content;
}
.with_a2ei_info .mapboxgl-popup-content
{
    width:unset;
}
.mapboxgl-popup-content >div  {
    overflow-wrap: break-word;
    border-bottom: 1px solid #8080803d;
}

.mapboxgl-popup-content >div:first-child,
.mapboxgl-popup-content >div:last-child {
    overflow-wrap: break-word;
    border-bottom: unset;
}

.mapboxgl-popup-content .highlighted_row
{
    border: 1px solid #ffbc1f!important;
    padding-left: 3px;
    padding-right: 3px;
}

.mapboxgl-popup-content .info_container
{
/* text-align: right !important; */
}

.form-check-input.switch_input
{
    background-color: #ff9800;
    border-radius: 2em!important;
}
.btn_container >span a
{
    color:unset!important;
    text-decoration: unset!important;
    font-size: .8rem;
}
.after_analysis_popup .btn_container >span
{
    background: #966919;
  padding: .1rem!important;
  font-size: .85rem;
}

.after_analysis_popup .btn_container >span:hover
{
    cursor: pointer;
    background: #ff9800;
    color:white;
}
.ghs_counts_container .color_span
{
    color:black;
    padding: .2rem;
}
span.modal-close
{
    position: absolute;
  right: 30px;
  color:orange;
  z-index:300000000;
}

span.modal-close:hover
{
    cursor: pointer!important;
}
.ceat_body .title {
  font-size: unset;
}
.ceat_body .analysis_tool_container .nav-link
{
	margin-right:.5rem;
    color:unset!important;
	border:1px solid gray
}

.from_all_admin_simple_analysis .row.title > .col-1:first-child
{
   position:absolute;
   right:10px;

}

.from_all_admin_simple_analysis .row.title > .col-1:nth-of-type(2)
{
   position:absolute;
   right:-10px;


}

.schools_main_description
{
    border: 1px solid #585151;
    display: none;
    padding-bottom: 5px;
    margin-top: 10px;
}
.schools_main_description.active,
.schools_main_description.active .extra
{
    display: block;
    padding:5px;
}

.extended_description_html li {
    padding: 0;
    padding-left: 10px;
    margin-top: 5px;
}

.schools_main_description img
{
    width: 8rem;
}

.underlined
{
    text-decoration: underline;
    text-decoration-color: #df9408;
    text-decoration-thickness: 2px;
}


#rect_moving_button_tooltip {
    position: absolute;
    opacity: 1;
display: none;


    z-index: 9999;
    background-color: #000000;
    padding: 10px!important;
    border: 1px solid #FF9800;
    color: #f7f7f7;
    width: 25vw;
    font-size: 1.1rem;
    z-index: 9999;
}

.from_all_admin_simple_analysis
{
    overflow: auto;
}

/* changes because of inline jrc policy security */
.initial_busyload .spinner-accordion div
{
    background-color:#FF9800
}

.initial_busyload .busy-load-container{
    position: absolute; background:black; 
	top: 0px; left: 0px; display: flex; 
	align-items: center; 
	justify-content: center; 
	width: 100%; 
	height: 100%; 
	color:white; 
	z-index: 999999999;
}
.initial_busyload .busy-load-container-item
{
    background: none; display: flex; justify-content: center; align-items: center; flex-direction: row-reverse;
}
.initial_busyload .busy-load-spinner 
{
    max-height: 50px; max-width: 50px; min-height: 20px; min-width: 20px;
}

.hc_dataTables_wrapper .info b 
{
    color:#ff9800
}
.what_why 
{
    display:none;
}
.info_panels_button .instructions>span 
{
    display: block;opacity:0.8;font-size: 0.9rem;
}
.caution 
{
    color:tomato;
}
.ref_unhcr_merged_simple b
{
    color:#11e1e0;
}

.show_hide_labels_form .form-check 
{
    margin-bottom: .7rem;
}
.cl_0 { background-color: #148a53; }
.cl_1 { background-color: #4bbc87; }
.cl_2 { background-color: #90d690; }
.cl_3 { background-color: #ebe95f; }
.cl_4 { background-color: #ffc45d; }
.cl_5 { background-color: #f37a1e; }
.cl_6 { background-color: #ad3e3c; }

.travel_schools_legend .cl_tr_0 { background-color: #16425e; }
.travel_schools_legend .cl_tr_1 { background-color: #588b70; }
.travel_schools_legend .cl_tr_2 { background-color: #9bd381; }
.travel_schools_legend .cl_tr_3 { background-color: #cde99c; }
.travel_schools_legend .cl_tr_4 { background-color: #ffffb6; }
.travel_schools_legend .cl_tr_5 { background-color: #ffd68c; }
.travel_schools_legend .cl_tr_6 { background-color: #ffad61; }
.travel_schools_legend .cl_tr_7 { background-color: #cc603b; }
.travel_schools_legend .cl_tr_8 { background-color: #981214; }

.distance_raster_legend_classif .cl_dr_0 { background-color: #fc8961; }
.distance_raster_legend_classif .cl_dr_1 { background-color: #e75263; }
.distance_raster_legend_classif .c { background-color: #b73779; }
.distance_raster_legend_classif .cl_dr_3 { background-color: #832681; }
.distance_raster_legend_classif .cl_dr_4 { background-color: #3919a8; }
.distance_raster_legend_classif .cl_dr_5 { background-color: #7a8391; }


.nightlights_classif .cl_nl_0 { background-color: #fdae61; }
.nightlights_classif .cl_nl_1 { background-color: #ffffbf; }
.nightlights_classif .cl_nl_2 { background-color: #abdda4; }
.nightlights_classif .cl_nl_3 { background-color: #2b83ba; }
.nightlights_classif .cl_nl_4 { background-color: #ff00ff; }


