.popper-popup {
  display: none;
  background: black;
  color: white;
  border: 1px solid #ff9800;
  padding: 2spx;
  border-radius: 1px;
  display: none;
  /* width: 100%; */
  max-width: 220px;
  height: auto;
}

.popper-popup a {
  font-size: 16px;
  font-weight: 300;
  display: block;
  padding: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.popper-popup a:hover {
  background: #444444;
}

.popper-popup[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}

.popper-popup[show-popper] {
  display: block;
  z-index: 9999;
}

#popper-popup-highlight {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(348px, 82px);
}

#popper-popup-highlight::before,
#popper-arrow-countries::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  /* top: -10px; */
  content: "";
  border: solid #ff9733;
  border-width: 1px 0px 0px 1px;
}

#popper-arrow-countries::before {
  left: -7px;
  transform: rotate(45deg) !important;
}

#popper-popup-highlight::before {
  left: -7px;
  top: 12px;
  transform: rotate(-45deg) !important;
}

/* 
#popper-arrow-city {
    visibility: hidden;
}

#popper-arrow-city::before,
popper-popup-countries::before,
#popper-arrow-initial::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
} */

/*position arrow using popper.js data-popper-placement attribute*/

/* 
.popper-popup[data-popper-placement^="top"] #popper-arrow-city {
    bottom: -4px;
}

.popper-popup[data-popper-placement^="bottom"] #popper-arrow-city {
    top: -4px;
}

.popper-popup[data-popper-placement^="left"] #popper-arrow-city {
    right: -4px;
}

.popper-popup[data-popper-placement^="right"] #popper-arrow-city {
    left: -4px;
} */

/*hide arrow when reference outside of viewport*/

.popper-popup[data-popper-reference-hidden] .arrow::before {
  visibility: hidden;
}

.popper-popup[data-popper-placement^="top"] .arrow {
  bottom: -4px;
}

.popper-popup[data-popper-placement^="bottom"] .arrow {
  top: -4px;
  /* bc it is not perfectly on the center of the -countries poppper.. */
  left: -8px;
}

.popper-popup[data-popper-placement^="left"] .arrow {
  right: -4px;
}

.popper-popup[data-popper-placement^="right"] .arrow {
  left: -4px;
}

/*hide arrow when reference outside of viewport*/

.popper-popup[data-popper-reference-hidden] .arrow::before {
  visibility: hidden;
}

.popper-popup .content {
  padding: 0.5rem;
  color: #cfccc8;
  font-size: 1.1rem;
}

/* Hide the popper when the reference is hidden */

#popper[data-popper-reference-hidden] {
  visibility: hidden;
  pointer-events: none;
}