/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1800px)
  /* and (-webkit-min-device-pixel-ratio: 1) */
   {
    body,html
    {
         font-size: 12px;
    }
}

/* ----------- Retina Screens ----------- */
/* my macbook at 100% */
@media screen and (min-width: 1440px)

{
    body.ceat_body,html
      {
          font-size: 11px;
      }





}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
	body.ceat_body,html
	{
		font-size: 10px;
		/* color: red!important; */
	}

}

/* Smaller Laptops and Large Tablets (width < 1280px) */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  body.ceat_body,html
{
  font-size: 12px;
}
}

/* iPad (portrait and landscape) */
@media screen and (min-width: 768px) and (max-width: 1024px) {

	body.ceat_body,html
	{
		font-size: 10px;
	}
}

/* iPhone 12 (390px wide) and similar devices */
@media screen and (max-width: 480px) {
  body.ceat_body,html
{
  font-size: 9px;
}

}

/* Smaller devices */
@media screen and (max-width: 320px) {
	body.ceat_body,html
	{
		font-size: 9px;
	}

}